.background_box {
    background-color: azure;
    align-content: center;
}
.timetable_section {
    float:left;
}
.page-header .timetable_title {
    float:left;
    text-align: center;
    font-weight: bold;
    margin:0 auto;
    width: 90%;
    font-size: 20px;
}
.page-header .edit_btn {
    float:right;
    width: 10%;
}
.page-header .edit_btn > input {
    width: 130px;
    height: 40px;
    background-color: #6ED4D8;
    border:none;
    border-radius: 10px;
    cursor: pointer;
}
.table_head_wrap {
    padding : 0px;
}
.table_head {
    background-color: #e8e8e8;
    border : none;
    width:100%;
}
.table_head td {
    width:18%;
    height:40px;
    font-weight: bolder;
    text-align: center;
}
.table_head th {
    width:5%;
}
.table_body {
    width:100%;
    padding:0px;
}
.table_body .hours .hour {
    height:60px;
    text-align: center;
    background-color: #e8e8e8;
    border-color: #d6d6d6;
    border : none;
    border-bottom: 1px solid #d6d6d6;
    /* border-width: 1px;
    border-style: solid; */
}
.table_body .hours .hour2 {
    height:60px;
    text-align: center;
    background-color: whitesmoke;
    border-color: #d6d6d6;
    border : none;
    border-bottom: 1px solid #d6d6d6;
    /* border-width: 1px;
    border-style: solid; */
}
.table_body th {
    width:5%;
    padding:0px;
    vertical-align: top;
}
.table_body td {
    width:18%;
    padding : 0px;
    vertical-align: top;
}

.table_body td div {
    height:15px;
    padding:0px;
    /*border-bottom: 0.2px solid lightgray;*/
}

