.modal {
    text-align: center;
    display: block;
    margin: 0 auto;
    font-size: 16px;
    color: #999;
}

.modal2 {
    text-align: center;
    display: block;
    margin: 0 auto;
    font-size: 16px;
    color: #999;
}

.modal3 {
    text-align: center;
    display: block;
    margin: 0 auto;
    color: #999;
}

.modal4 {
    text-align: center;
    display: block;
    margin: 0 auto;
    color: #999;
}

.modal5 {
    text-align: center;
    display: block;
    margin: 0 auto;
    color: #999;
}

.modal6 {
    text-align: center;
    display: block;
    margin: 0 auto;
    color: #999;
}

.modal7 {
    text-align: center;
    display: block;
    margin: 0 auto;
    color: #999;
}

.modal8 {
    text-align: center;
    display: block;
    margin: 0 auto;
    color: #999;
}

.modal77 {
    text-align: center;
    display: block;
    margin: 0 auto;
    color: #999;
}

h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    color: #216182;
}

label {
    /* display: block; */
    margin-top: 20px;
    letter-spacing: 2px;
}

form {
    margin: 0 auto;
    /* width: 459px; */
}

.course_type_form1 {
    visibility: hidden;
    padding: 0 10px;
}


/* input, textarea { 
         width: 439px; 
         height: 27px; 
         background-color: #efefef; 
         border-radius: 6px; 
         border: 1px solid #dedede; 
         padding: 10px; 
         margin-top: 3px; 
         font-size: 0.9em; 
         color: #3a3a3a; 
     } 
         input:focus, textarea:focus{ 
             border: 1px solid #97d6eb; 
         }  */

textarea {
    height: 60px;
    background-color: #efefef;
}

#submit {
    width: 127px;
    height: 48px;
    text-align: center;
    border: none;
    margin-top: 20px;
    cursor: pointer;
}

#submit:hover {
    background-color: rgb(77, 189, 194);
    font-weight: bolder;
}

#cancel {
    width: 127px;
    height: 48px;
    text-align: center;
    border: none;
    margin-top: 20px;
    cursor: pointer;
}

#cancel:hover {
    color: #fff;
    background-color: #216282;
    opacity: 0.9;
}

.modal,
.modal2,
.modal3,
.modal4,
.modal7,
.modal5,
.modal6,
.modal8,
.modal77 {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1.5rem;
    width: 500px;
    height: 500px;
    border-radius: 0.5rem;
}

.modal-content1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1.5rem;
    width: 300px;
    height: 200px;
    border-radius: 0.5rem;
}

.modal-content4 {
    overflow: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1.5rem;
    width: 520px;
    /* height: 700px; */
    border-radius: 0.5rem;
}

.close-button,
.close-button2,
.close-button3,
.close-button4,
.close-button7,
.close-button77,
.close-button5,
.close-button6,
.close-button8 {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: lightgray;
}

.close-button:hover,
.close-button2:hover,
.close-button3:hover,
.close-button7:hover,
.close-button4:hover,
.close-button77:hover,
.close-button5:hover,
.close-button6:hover,
.close-button8:hover {
    background-color: darkgray;
}

.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}