            .reply-place {
                margin-top: 10 px;
                width: 90%;
                height: 20%;
                margin-left: 0.8%;
                display: none;
                visibility: hidden;
            }