body, button, input, select, table, textarea {
    background-color: #e7eff0;
    font-size: 12px;
    line-height: 16px;
    color: #202020;
    font-family: 'Open Sans';
    src: local('Open Sans'), local('OpenSans'), url(//fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
/* 폴더 내부 */
body {
    background-color: #e7eff0;
    margin:0px;
    height:100%;
}
#wrap{
    overflow:hidden;
    min-width:1190px;
}
#wow{
    background-size:90px 90px;
}
#container{
    position: relative;
    width: 1190px;
    
    padding: 40px 30px;
    margin: 0 auto;
    letter-spacing: -.2px;
}
#container:after {
    content: "";
    display: block;
    clear: both;
}
/* 
#MAIN_LEFT{
    width:850px;
    float:left;
} */
.section{
    /* min-width: 718px; */
    float:left;
    width:750px; 
    height:550px;
    /* height:35vw;
    width:718px; */
    /* margin-right:10px;
    margin-top:15px; */
    z-index:1;
    background-size:cover;

}
/* .section::before{
    content:"";
    opacity:0.5;
    position:absolute;
    
    top:0px;
    left:0px;
    right:0px;
    bottom:0px;
    

}  */
.section::after{
    content:"";
    
    opacity:0.5;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:-1; 
    
    
} 

.big_post {
    margin-top: 15px;
}
.wrap_postit{

    display:inline-block;
}
.postIt
{
    display:inline-block;
    margin:20px 35px 20px 20px;
    width: 90px; 

    height: 90px;
}
#MAIN_RIGHT{
    float:right;
    width:250px;
    display:inline;
    padding-top:60px;
}
.folder_name{
    font-size:15px;
    font-weight:bold;
    margin-top:35px;
    margin-left:70px;
    color:black;
    display:block;
}
/* 여기부터 오늘 할 일 */
.aside_wrap {
    margin-left:40px;
    width: 210px;
}

.aside .todaylist {
    background-color:white;
    width: 210px;
    padding: 10px 20px;
    border-radius: 10px;
    text-align: center;
    font-size:large;
    align-items: center;
}

.aside_wrap > p {
    margin: 10px 0px;
    font-size:13px;
    font-weight: bolder;
}

.caution {
    width: 210px;
    margin : 5px 5px;
    padding: 0px 5px;
    font-size: 10px;
    line-height: 140%;
}

.aside .todaylists > .wrap_label {
    font-size:small;
    margin: 0px;
    text-align: left;
}
.new_todo {
    padding:10px;
    font-size:small;
}
.todaylists > label > input,p {
    display: inline-block;
    font-size:11px;
}
/* .todaylists > label {
    display:block;
} */

.btnplusTodo {
    border-radius: 10px; 
    background-color:#6ED4D8;
    display:table-cell;
    vertical-align: middle;
    width: 100%;
    margin-bottom : 5px;
    font-size: 12px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height:30px;
    border:10px;
    cursor: pointer;
}
.delete_todo{
    float:right;
    width: 15px;
    line-height: 1.5rem; 
    text-align: center; 
    cursor: pointer; 
    border-radius: 0.5rem; 
    opacity: 0; 
} 
.delete_todo:hover{
    float:right;
    width: 15px;
    line-height: 1.5rem; 
    text-align: center; 
    cursor: pointer; 
    border-radius: 0.5rem; 
    opacity: 1;
    background-color: lightblue; 
} 

/* 오늘 할 일 부분 나중에 mainframe의 것과 이름 동일하게 설정하기 */

/* 포스트잇 내부 설정 */
/* #postIt_plus{
    display:inline-block;
    margin:20px 35px 20px 20px;
    width: 90px; 
    height: 90px;
} */

.post_img{
    width:100%;
    height:90px;

 }   
/* .postIt > p {
    font-size:12px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    cursor:pointer;
} */
.post{
    text-align: center;
    position: relative;
    cursor: pointer;
    top: -70%;
    left: 50%;
    transform: translate( -50%, -50% );
}
.postIt_menu > li {
    padding:5px 12px;
    background-color: rgba(255,255,255,0.8);
    list-style-type: none;
    cursor:pointer;
}

/* .post {
    position:absolute;
    z-index:1;
    top:40%;
    width:100%;
    margin:0 auto;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
} */
.postIt{
    position:relative;
}
/* hover하면 3버튼 나오게,별표시 넣기*/
.fixed_star{
    position:relative;
    
    width:15px;
    margin-top:-100%;
    margin-left:3px;
    float:left;
    /* display: none; */
    cursor:pointer;
    opacity: 1;
}
.fixed_star:hover{
    /* display:inline-block; */
    opacity: 1;
}
.hidden_content{
    display:none;
}
/* .three_button{
    position:relative;
    z-index:1;
    margin-top:-87px;
    width:15px;
    float:right;
    opacity:0;
    cursor:pointer;
}
.three_button:hover{
    opacity:1;
} */
.revise_postIt, .delete_postIt{
    width:15px;
    height: auto;
    margin:5px 0 5px 5px;
    position: relative;
    top:-100%;
    left:-8%;
    float:right;
    opacity: 0;
} 
.revise_postIt:hover {
    opacity: 1;
    cursor:pointer;
}
.delete_postIt:hover{
    opacity: 1;
    cursor:pointer;
}
.dropdown_content{
    display:none;

    position:relative;
    z-index:1;
    margin-top:-87px;
    float:right;
    width:80px;
}
.dropdown_content > .dropdown_color{
    margin:0 auto;
    background-color: rgba(255,255,255,0.8);
    border:white; 
    border-style:none;
    display:flex;
    justify-content: center;
}
.dropdown_color > button {
    height:16px;
}
.dropdown_content > button{
    margin:0 auto;
    background-color: rgba(255,255,255,0.8);
    border:white; 
    border-style:none;
    display:flex;
    align-items: center;
}
.dropdown_choice{
    -webkit-tap-highlight-color: transparent;
    background:none;
    border:none;
    border: radius 0;
    box-sizing: border-box;
    color:black;
    font-size:10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    min-height:32px;
    justify-content: center;
    user-select:none;
    width:100%;

}

.choice{
    display:inline-block;
    margin:20px 20px 0 20px;
    text-align: center;
}
.modal-body > img {
    height:50px;
    width:40px;

    margin:10px 0;
    display:block;
    align-content: center;  
}
.plusTodoBtn{
    background-color: #6ED4D8;
}

/****** 레이어(모달) 팝업 ******/
/* modal 팝업을 감싸주는 부분 (모달 팝업 영역을 잡아주는 틀) */
.modal_choice > .modal-body > .choice {
    display:inline-block;


}
.choice > img {
    height:50px;
    width:40px;
    margin:10px 0;
    align-content: center;  
}
.choice > p{
    font-size:11px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.modal{
    position: fixed; 
    left: 0; 
    top: 0; 
    width: 100%; 
    height: 100%; 
    background-color: rgba(0, 0, 0, 0.5);
    z-index:1; 
    opacity: 0; 
    visibility: hidden; 
    transform: scale(1.1); 
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s; 
}
/* .modal_todo, .modal_choice, .modal_content, .modal_link, .modal_show_content, .modal_file{ 
    position: fixed; 
    left: 0; 
    top: 0; 
    width: 100%; 
    height: 100%; 
    background-color: rgba(0, 0, 0, 0.5); 
    opacity: 0; 
    visibility: hidden; 
    transform: scale(1.1); 
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s; 
}  */
/* 모달 팝업 내의 실제 콘텐츠를 담는 부분(팝업 크기 등) - 큰 버전 */
.modal-content-choice, .modal-content-todo, .modal-content-link, .modal-content-file, .modal-content-revise-link, .modal-content-delete-post, .modal-content-delete-new-post{ 
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    background-color: white; 
    padding: 1rem 30px; 
    width: 400px; 
    height: 230px; 
    border-radius: 0.5rem; 
    margin : 0 auto;
    /* z-index:500; */
} 
.modal-content-content, .modal-content-revise-content { 
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    background-color: white; 
    padding: 1rem 30px; 
    width: 600px; 
    height: 690px; 
    border-radius: 0.5rem; 
    margin : 0 auto;
    z-index:551;
} 
ul {
    padding:0
}
/****** 버튼 클릭시 이벤트 + 모달 팝업 띄우기 ******/
/* 버튼 클릭시 보이기+애니메이션 */
.show_modal { 
    opacity: 1; 
    visibility: visible; 
    transform: scale(1.0); 
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s; 
} 
/****** 모달 팝업에 보일 콘텐츠들 ******/
/* 타이틀 */
.title{ 
    font-size:13px;
    margin-bottom:20px;
    letter-spacing: 2px; 
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
} 
/* 닫기 버튼 */
.close_button { 
    float: right; 
    width: 1.5rem; 
    line-height: 1.5rem; 
    text-align: center; 
    cursor: pointer; 
    border-radius: 0.5rem; 
    background-color: lightgray; 
} 
.close_button:hover { 
    background-color: darkgray; 
}
.modal-todo-plus{
    /* 모달 내 저장 버튼 */
    width: 100px;
    height:45px; 
    padding:5px;
    margin: 5px;
    background-color:#6ed4d8;
    border-radius:10px;
    border:none;
    font:bold;
    position:fixed;
    bottom:10px;
    right:10px;
    cursor:pointer;
}
#choiceTypeModal > img {
    margin:10px;
}
/* 폴더 추가하기 안에 모달 내부 스타일 */
/* .wrap_choice{
    list-style:none;
    margin:20px 0;
    margin-left: 10px;
}
.choice{
    display:inline-block;
    margin:0 20px;
    text-align: center;
    cursor: pointer;
}
.choice > img {
    height:50px;
    width:40px;

    margin:10px 0;
    display:block;
    align-content: center;  
}
.choice > span{
    font-size:11px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}
글 쓰기 
.modal_content{ 
    position: fixed; 
    left: 0; 
    top: 0; 
    width: 100%; 
    height: 100%; 
    background-color: rgba(0, 0, 0, 0.5); 
    opacity: 0; 
    visibility: hidden; 
    transform: scale(1.1); 
    z-index:501;
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s; 
}  
모달 팝업 내의 실제 콘텐츠를 담는 부분(팝업 크기 등) - 큰 버전
.modal-content-content { 
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    background-color: white; 
    padding: 1rem 30px; 
    width: 600px; 
    height: 690px; 
    border-radius: 0.5rem; 
    margin : 0 auto;
    z-index:551;
} 
.close_content_button { 
    float: right; 
    width: 1.5rem; 
    line-height: 1.5rem; 
    text-align: center; 
    cursor: pointer; 
    border-radius: 0.5rem; 
    background-color: lightgray; 
} 
.close_content_button:hover { 
    background-color: darkgray; 
}
.uploadBtn{

    padding:10px;
    background-color:#6ED4D8;
    border-radius:10px;
    border:none;
    font-size:12px;
    font-weight:bold;
}
.cancelBtn{
    padding:10px;
    border-radius:10px;
    border-color: #6ED4D8;
    border-style:solid;
    background-color: white;
    border-width:1px;
    font-size:12px;
    font-weight:bold;
    margin-right:10px;
}
.input_wrap > p {
    font-size:11px;
    margin:10px 5px;
    display:inline-block;
}
.input_wrap > input{
    width:80%;
    margin-right:10px;
}
.buttons_wrap{
    position:fixed;
    bottom:10px;
    right:10px;

}
.wrap_choice{
    display:flex;
}
.choice{
    flex:1;
    margin-left:35px;
}
.choice > img {
    height:50px;
    width:auto;
    margin:0 auto;
}
.choice > p{
    text-align: center;
}
textarea{
    
    width:80%;
} */

#todo-plus-modal{
    width:400px;
    height:200px;
    text-align: center;
    overflow:hidden;
    position: absolute; 
    background-color: white;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    border-radius: 10px; 
}

/* choice할 때의 modal */
#choiceTypeModal{
    width:550px;
    height:400px;
    text-align: center;
    overflow:hidden;
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
}
#choice-modal{
    min-width:90%;
    min-height:90%;
    width:auto;
    height:auto;
}

.modal-body > a > img {
    width:40px;
    height:55px;
}
.modla-body > a > p {
    font-size:11px;
}
/* 글 작성할 때 스타일 */
.modal-writing1{
    height:700px;
    width:600px;
}
.writing-inside1{
    min-width:90%;
    min-height:90%;
    width:auto;
    height:auto;
}
.modal-writing2{
    height:330px;
    width:600px;
}
.writing-inside2{
    min-width:90%;
    min-height:90%;
    width:auto;
    height:auto;
}
.modal-writing3{
    height:330px;
    width:600px;
}
.writing-inside3{
    min-width:90%;
    min-height:90%;
    width:auto;
    height:auto;
}
.modal-writing1 > textarea{
    width:80%;
}
.buttons_wrap{
    position:fixed;
    bottom:10px;
    right:10px;

}
.input_todo{
    height:24px;
    width:80%;
    margin:20px auto;
    padding-top: 2px;
    text-align: center;
}
.uploadBtn{
    float:right;
    cursor:pointer;
    padding:10px;
    background-color:#6ED4D8;
    border-radius:10px;
    border:none;
    font-size:12px;
    font-weight:bold;
    margin:10px;
}
.cancelBtn{
    float:right;
    cursor:pointer;
    padding:10px;
    border-radius:10px;
    border-color: #6ED4D8;
    border-style:solid;
    background-color: white;
    border-width:1px;
    font-size:12px;
    font-weight:bold;
    margin:10px;
}
.input_text{
    width:90%;
}
.input_link{
    width:90%;
}
.input_content{
    width:90%;
    height:480px;

}
.filebox{
    height:50px;
}
.filebox input[type="file"] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip:rect(0,0,0,0);
    border: 0;
  }
  
  .filebox label {
    display: inline-block;
    /* padding: .5em .75em; */
    color: #000000;
    font-size: 11px;
    line-height: normal;
    vertical-align: middle;
    background-color: #fdfdfd;
    cursor: pointer;
    border: 1px solid #ebebeb;
    border-bottom-color: #e2e2e2;
    border-radius: .25em;
}

  /* named upload */
.filebox .upload-name {
    display: inline-block;
    /* padding: .5em .75em;  label의 패딩값과 일치 */
    font-size: 11px;
    font-family: inherit;
    line-height: normal;
    vertical-align: middle;
    background-color: #f5f5f5;
    border: 1px solid #ebebeb;
    border-bottom-color: #e2e2e2;
    border-radius: .25em;
    -webkit-appearance: none; /* 네이티브 외형 감추기 */
    -moz-appearance: none;
    appearance: none;
}
.modal > p, div {
    font-size:12px;
}
.modal > h4 {
    font-size:15px;
}
a > p {
    font-size: 13px;
}
#modal-todo{
    vertical-align: middle;
    width:80%;
    height:20px;
    font-size:15px;
}