.d-date{ 
    /* 날짜 선택하는 부분 */
    width:130px;
    height:45px; 
    padding:5px;
    margin: 5px;
    background-color:#e7eff0;
    border:none;
    font:bold;
    }
.d-content{
        width: 220px;
        height:45px; 
        padding:5px;
        margin: 5px;
        background-color:#e7eff0;
        border:none;
        font:bold;
    }
h3 {
    font:bold;
}
.d-plus{
    /* 저장 버튼 */
    width: 160px;
    height:45px; 
    padding:5px;
    margin: 5px;
    background-color:#6ed4d8;
    border:none;
    font:bold;
}
.plus-part{
    display:flex;
    justify-content: center;
    align-items: center;
}
table{
    border:none;
    width: 100%;
}
table > th {
    text-align: center;
    padding:3px;
}
table > tbody > tr> td{
    text-align:center;
    padding:3px;
}
.btn_modify_d-day{ 
    align-content: center;
    width: 32px;
    height: 32px;
    border: none;
    background: url("media/edit.png") no-repeat;
    cursor: pointer;
}
.btn_delete_d-day{
    align-content: center;
    width: 32px;
    height: 32px;
    border: none;
    background: url("media/delete.png") no-repeat;
    cursor: pointer;
}

