.main_header {
    height:100px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
}
.logo_area {
    height:100%;
}

.logo_tight {
    text-decoration: none;
    display: block;
    overflow: hidden;
    position: relative;
    float:left;
    width:12%;
}

.logo_tight .img_logo {
    width:100%;
    /* width:130px; */
    background-position: 0 -158px;
    background-repeat: no-repeat;
    vertical-align: top;
    content: '';
}

.group_menu {
    display: flex;
    overflow: hidden;
    position: relative;
    margin-right:12%;
    /* margin-left : 13%;
    margin-right : 13%; */
    padding: 50px 100px 11px 100px; 
}

ol, ul {
    list-style: none;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
ul {
    display: block;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding : 0px;
    margin-top : 30px;
    margin-bottom : 30px;
}

.list_menu {
    /* font-weight: 700; */
    color: #000;
    letter-spacing: -.3px;
    margin : 0 auto;
}

.list_menu .menu_item {
    float:left;
    margin-left: 30px;
    margin-right: 30px;
}

.menu {
    text-decoration: none;
    font-size: 13px;
    color:#000;
}

.menu:hover {
    color:#6ED4D8;
    text-decoration: underline;
    text-decoration-color: #6ED4D8;
    font-weight: 700;
}

