<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>이메일 찾기:studyTight</title>
    <style>
        @import url(/public/login/register.css);
        @import url(/public/login/login.css);
        @import url(/public/font.css); 
        @import url(/public/login/find.css);
    </style>
</head>
<body>
    <div id="warp">
        <div class="find_header"> 
            <!-- 여기는 왼쪽 메뉴 (로고) -->
            <div class ="logo_area"> 
                <img src="/public/media/logo_big.png" onclick="location.href='/'">
            </div>
        </div>
        <div class="section">
            <!-- 여기는 본문 들어갈 메인 섹션 -->
            <div class="login">
                <form id="login-form" action="/auth/login" method="POST">
                    <div class="login_section">
                        <h2 style="margin: auto 0; text-align: center;" >이메일 찾기</h2>
                        <div style="text-align: center;">가입시 입력한 정보를 기입해주세요.</div>
                        <div class="join_row join_name" id="infoDiv">
                            <div class="join_label">이름</div>
                            <div class="name_input_area">
                                <span class="join_form">
                                    <input type="text" id="name" name="name" title="이름" class="int" placeholder="이름" maxlength="10" >
                                </span>                              
                            </div>
                        </div>
                        
                        <!-- 성별 영역 -->
                        <div class="join_row join_gender" id="genderDiv">
                            <div class="join_label">성별</div>
                            <div class="gender_input_area">
                                <div class="gender_code">
                                    <select id="gender" name="gender" class="sel">
                                        <option value selected>성별</option>
                                        <option value="M">남자</option>
                                        <option value="F">여자</option>
                                        <option value="U">선택 안함</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="join_row join_birth" id="birthDiv">
                            <!-- 생년월일 영역 -->
                            <div class="join_label">생년월일</div>
                            <div class="bir_wrap">
                                <div class="bir_yy">
                                    <span class="join_form">
                                        <input type="text" id="yy" placeholder="년(4자)" aria-label="년(4자)" class="int" maxlength="4">
                                    </span>
                                </div>
                                <div class="bir_mm">
                                    <div class="month_code">
                                        <select id="mm" class="sel" aria-label="월">
                                            <option value="">월</option>
                                                            <option value="01">
                                                                1
                                                            </option>
                                                            <option value="02">
                                                                2
                                                            </option>
                                                            <option value="03">
                                                                3
                                                            </option>
                                                            <option value="04">
                                                                4
                                                            </option>
                                                            <option value="05">
                                                                5
                                                            </option>
                                                            <option value="06">
                                                                6
                                                            </option>
                                                            <option value="07">
                                                                7
                                                            </option>
                                                            <option value="08">
                                                                8
                                                            </option>
                                                            <option value="09">
                                                                9
                                                            </option>
                                                            <option value="10">
                                                                10
                                                            </option>
                                                            <option value="11">
                                                                11
                                                            </option>
                                                            <option value="12">
                                                                12
                                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="bir_dd">
                                    <span class="join_form">
                                        <input type="text" id="dd" placeholder="일" aria-label="일" class="int" maxlength="2">
                                        <label for="dd" class="lbl"></label>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <input type="submit" title="이메일 찾기" alt="이메일 찾기" value="이메일 찾기" class="login_btn" style="margin-top:20px;">
                        <div class="login_info">
                            <a target="_self" href="/signup/agree" class="register">회원가입</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>