<div class="logo_area">
    <a href="#" class="logo_tight"><img src="/logo/logo_lower.png" class=img_logo onclick="btnHomeInHome();" alt=""/></a>
    <section class="group_menu">
        <nav class="menu_effect">
            <a href="#" class="menu">내 공부방</a>
            <a href="#" class="menu">방명록</a>
            <a href="#" class="menu">시간표</a>
        </nav>
    </section>
</div>
<div class="login">
        <div class="profile_section">
            <% if (user) { %>
            <!-- 일단은 알람벨 크기가 애매(?)하고 기능 추가 전이기 때문에 생략! -->
            <!-- <div class="alarm_bell">
            <img id="alarm_bell_img" src="/media/empty_bell.png"></div> -->
            <div class="profile">
                <!-- 이미지 클릭시 프로필 관리 화면으로 가는것도 좋을듯 -->
                <!-- <img id="activeUserimg" src="/media/user.png" onclick="location.href='#프로필수정화면'">-->
                <div class="username" id="activeUsername"><%= user.name +'님'%></div> 
            </div>
            <div class="logout">
                    <input type="button" class="btn_logout" title="로그아웃" value="로그아웃" onclick="logout();" />
                    
            </div>
            <% } %>

            <% else { %>
            <div class="logout">
                <input type="button" class="btn_logout" title="로그인" value="로그인" onclick="location.href='/login'" />
            </div>
            <% } %>
        </div>

</div>
