<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/public/media/favicon.ico">
    <link rel="icon" href="/public/media/favicon.ico">
    <title>study Tight 소개</title>
    <link href="../public/info.css" rel="stylesheet">
    <link href="../public/font.css" rel="stylesheet">
</head>

<body>
    <img src="/media/StudyTight설명서.png">
    <button value="시작하기" class="start_btn" onclick="location.href='/'">시작하기</button>
</body>

</html>