<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인</title>
    <!-- <style>
        @import url(../public/login/login.css);
        @import url(../public/font.css); 
    </style> -->
    <script src="../public/login/login.css"></script>
    <script src="../public/font.css"></script>
    <link href="../public/login/login.css" rel="stylesheet">
    <link href="../public/font.css" rel="stylesheet">
</head>

<body>
    <div id="warp">
        <div class="login_header">
            <!-- 여기는 왼쪽 메뉴 (로고) -->
            <div class="logo_area">
                <img src="../media/logo_big.png" onclick="location.href='/'">
            </div>
        </div>
        <div class="section">
            <!-- 여기는 본문 들어갈 메인 섹션 -->
            <div class="login">
                <form id="login-form" action="/auth/login" method="POST">
                    <div class="login_section">
                        <% if(loginFailed) { %>
                            <div style="margin-bottom:10px; color: #ff1616; text-align: center;">가입되지 않은 이메일이거나, 비밀번호가 올바르지 않습니다.</div>
                            <% } %>
                                <div class="login_form">
                                    <input type="text" name="email" id="email" placeholder="이메일" required autofocus/>
                                </div>
                                <div class="login_form">
                                    <input type="password" name="password" id="password" placeholder="비밀번호" required/>
                                </div>
                                <input type="submit" title="로그인" alt="로그인" value="로그인" class="login_btn" id="log.login">
                                <div class="login_info">
                                    <a target="_self" href="/auth/findpw" class="find_password">비밀번호 찾기</a>
                                    <span class="bar" aria-hidden="true"></span>
                                    <a target="_self" href="/signup/agree" class="register">회원가입</a>
                                </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>