body {
    /* 브라우저에서 body 요소를 로드할때 수정사항이 없으면 display:block, margin : 8px로 처리함. 
    따라서 명시적으로 margin:0px로 지정해줌! */
    margin : 0px;
    /* 스크롤 유무에 따라 header레이아웃이 밀려서 항상 스크롤을 보이게 고정해둠! */
    overflow-y: scroll
}

.main_header {
    height:100px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius:3px;
    box-shadow:0px 3px 5px 0px #999;
    z-index: inherit;
}

.logo_area {
    height:100%;
}

.logo_tight {
    text-decoration: none;
    display: block;
    overflow: hidden;
    position: relative;
    /* float:left 안할시 메뉴들이 밑으로 내려가버림! */
    float:left;
    /* width:12%; //  바로 아래의 이미지 크기에 맞게 되기 때문에 필요 없을 듯 */
}

.logo_tight .img_logo {
    /* width:100%; // 비율X -> 환경마다 다르게 보이는 문제 발생 */
    /* 흰색 header bar의 높이가 100px => 로고도 딱 맞게 100px */
    height : 80px; 
    background-position: 0 -158px;
    background-repeat: no-repeat;
    vertical-align: top;
    margin : 10px 0px;
    content: '';
}

/* 나중에 필요할 것 같아서 일단 놔둠 */
/* ol, ul {
    list-style: none;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
ul {
    display: block;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding : 0px;
    margin-top : 30px;
    margin-bottom : 30px;
} */

/* 메뉴 글씨 */
.menu {
    text-decoration: none;
    font-size: 13px;
    color:#000;
}



/* 상단 우측 프로필 영역 전체 */
.profile_section {
    position: relative;
    top: -95px;
    float: right;
    margin-right: 10px;
}

.login > div {
    display:inline-block;
}
.profile_section > div {
    margin: 5px 0px 5px 4px;
}

.alarm_bell{
    display:inline;
}
#alarm_bell_img {
    padding-top : 2px;
    display:inline;
    margin : 0 auto;
    height: 18px;
}


.profile{
    display:inline;
}
.profile > img {
    height: 18px;
    margin: 0 auto;
}
.username {
    display:inline-block;
    font-size:12px;
    line-height:18px;
}
.logout{
    display:inline;
}
.btn_logout {
    background-color: rgba(190, 190, 190,0.5);
    border-radius: 10px;
    border:none;
    cursor:pointer;
    font-size:12px;
    display:inline;
}