
body, button, input, select, table, textarea {
    font-size: 12px;
    line-height: 16px;
    color: #202020;
    font-family: 'Open Sans';
    src: local('Open Sans'), local('OpenSans'), url(//fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
body {
    background-color: #e7eff0;
    /* 브라우저에서 body 요소를 로드할때 수정사항이 없으면 display:block, margin : 8px로 처리함. 
    따라서 명시적으로 margin:0px로 지정해줌! */
    margin : 0px;
}

html, body {
    /* wrap으로 감싸는 영역의 height가 0으로 떠서 상위 영역인 body의 height:100%으로 함*/
    height : 100%;
}

/* wrap 부분 : html의 <body>태그 전체를 감싸는 부분 */
#wrap {
    overflow: hidden;
    min-width: 1190px;
}

/* header부분 : 로고,메뉴,로그인 표시 영역 */
#header {
    position: relative;
    background-color: #fff;
    /* z-index: 1; */
}

/* 메인 영역 : 헤더 아래 메인 콘텐츠들 표시 영역 */
#container {
    position: relative;
    width: 1190px;
    padding: 20px 30px;
    margin: 0 auto;
    letter-spacing: -.2px;
}

/* 자식이 float속성을 사용해도 wrap으로 감싸기 위해 아래 코드 사용 */
#container:after {
    content: "";
    display: block;
    clear: both;
}

/* 메인의 좌측 영역 : 폴더, d-day를 감싸는 영역 */
.column_left {
    /* 네이버 : 750 */
    /* float:left; */
    width: 850px;
    display:inline-block;
}


/* 메인의 우측 영역: 오늘 할 일 영역 */
.column_right {
    /* 네이버 : 350 */
    float:right;
    width: 250px;
}



/* @@@@아래부터는 원래 있던 코드 : 기존의 코드 영역을 위에 추가한 새로운 태그들로 감쌌음!@@@ */

.aside_wrap {
    margin-left:40px;
    width: 210px;
}

.aside .todaylist {
    background-color:white;
    width: 210px;
    padding: 10px 20px;
    border-radius: 10px;
    text-align: center;
    font-size:large;
    align-items: center;
}

.aside_wrap > p {
    margin: 10px 0px;
    font-size:13px;
    font-weight: bolder;
}

.caution {
    width: 210px;
    margin : 5px 5px;
    padding: 0px 5px;
    font-size: 10px;
    line-height: 140%;
}

.aside .todaylists > .wrap_label {
    font-size:small;
    margin: 0px;
    text-align: left;
}
.new_todo {
    padding:10px;
    font-size:small;
}
.todaylists > label > input,p {
    display: inline-block;
    font-size:11px;
}
/* .todaylists > label {
    display:block;
} */

.btnplusTodo {
    border-radius: 10px; 
    background-color:#6ED4D8;
    display:table-cell;
    vertical-align: middle;
    width: 100%;
    margin-bottom : 5px;
    height:30px;
    border:10px;
    cursor: pointer;
}
.btnplusTodo:hover {
    background-color: rgb(77, 189, 194);
    font-weight: bolder;
}
.D-day {
    text-align:left;
}
.wrap_day{
    display:inline;
}
.d-day { 
    /* d-day표시 */
    display: inline-block;
    margin: 10px;
    /* width: 170px; */
    width : 190px;
    height: 40px;
    background: white;
    border-radius: 3px;
    box-shadow: 2px 2px 2px rgb(128, 128, 128);
    vertical-align: middle;
    font-size:12px;
    font-family: 'Open Sans' !important;
    padding-left : 10px;
}
.d-date {
    /* 세로 정렬 필요 */
    display: inline-block;
    padding-left:10px;
    margin-top:10px;
    margin-right: 10px;
    font-size:13px;
    font-weight:bold;
    font-family: 'Open Sans' !important;

    /* color:red; */
}
/* d-day 모달 팝업 안 */
#modal-d-date{ 
    /* 날짜 선택하는 부분 */
    width:130px;
    height:45px; 
    padding:5px;
    margin: 10px;
    background-color:#e7eff0;
    border-radius:10px;
    border:none;
    font:bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
#modal-d-content{
        width: 130px;
        height:45px; 
        padding:5px;
        margin: 10px;
        background-color:#e7eff0;
        border-radius:10px;
        border: none;
        font:bold;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

.modal-d-plus, .modal-todo-plus, .modal-folder-plus, .modal-folder-revise{
    /* 저장 버튼 */
    width: 50px;
    height:45px; 
    padding:5px;
    margin: 5px;
    background-color:#6ed4d8;
    border-radius:10px;
    border:none;
    font:bold;
    position:fixed;
    bottom:10px;
    right:10px;
    cursor:pointer;
}
/* .plus-part{
    display:flex;
    justify-content: center;
    align-items: center;
} */
/* .modal_day, .modal_todo, .modal_folder, .modal_revise_folder, .modal_delete_folder { 
    position: fixed; 
    left: 0; 
    top: 0; 
    width: 100%; 
    height: 100%; 
    background-color: rgba(0, 0, 0, 0.5); 
    opacity: 0;
    visibility: hidden; 
    transform: scale(1.1); 
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s; 
}  */
.modal{ 
    position: fixed; 
    left: 0; 
    top: 0; 
    width: 100%; 
    height: 100%; 
    background-color: rgba(0, 0, 0, 0.5); 
    opacity: 0; 
    z-index:1;
    visibility: hidden; 
    transform: scale(1.1); 
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s; 
}
.modal_menu{
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1); 
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s; 
}
.folder_menu{
    z-index:500;
    margin : 0 auto;
}  
/* 모달 팝업 내의 실제 콘텐츠를 담는 부분(팝업 크기 등) - 큰 버전 */
.modal-content-day, .modal-content-todo, .modal-content-folder, .modal-content-revise-folder, .modal-content-delete-folder, .modal-content-delete-new-folder { 
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    background-color: white; 
    padding: 1rem 30px; 
    width: 400px; 
    height: 200px; 
    border-radius: 0.5rem; 
    z-index:500;
    margin : 0 auto;
} 
/****** 버튼 클릭시 이벤트 + 모달 팝업 띄우기 ******/
/* 버튼 클릭시 보이기+애니메이션 */
.show_modal { 
    opacity: 1; 
    visibility: visible; 
    transform: scale(1.0); 
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s; 
} 
/****** 모달 팝업에 보일 콘텐츠들 ******/
/* 타이틀 */
.title{ 
    font-size:13px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom:20px;
    letter-spacing: 2px; 
} 
#modal-folder-name, #new-folder-name{
    width:80%;
    vertical-align: middle;
    margin:10px;
}
.folder_color_wrap{
    width:100%;
}
.folder_color_wrap > select {
    vertical-align: middle;
    margin:10px;
}
/* 닫기 버튼 */
.close_button { 
    float: right; 
    width: 1.5rem; 
    line-height: 1.5rem; 
    text-align: center; 
    cursor: pointer; 
    border-radius: 0.5rem; 
    background-color: lightgray; 
}
.close_button:hover { 
    background-color: darkgray; 
}
.delete_todo{
    float:right;
    width: 15px;
    line-height: 1.5rem; 
    text-align: center; 
    cursor: pointer; 
    border-radius: 0.5rem; 
    opacity: 0; 
} 
.delete_todo:hover{
    float:right;
    width: 15px;
    line-height: 1.5rem; 
    text-align: center; 
    cursor: pointer; 
    border-radius: 0.5rem; 
    opacity: 1;
    background-color: lightblue; 
} 
#d-day-plus{
    cursor:pointer;
}
.delete_day{
    float:right;
    width: 15px;
    line-height: 1.4rem; 
    margin-right:10px;
    margin-top: 10px;
    text-align: center; 
    cursor: pointer; 
    border-radius: 0.5rem; 
    opacity: 0; 
} 
.delete_day:hover{
    float:right;
    width: 15px;
    line-height: 1.4rem; 
    text-align: center; 
    cursor: pointer; 
    border-radius: 0.5rem; 
    opacity: 1;
    margin-right:10px;
    margin-top:10px;
    background-color: lightgray;
    
} 
.buttons_wrap{
    position:fixed;
    bottom:10px;
    right:10px;

}
.deleteBtn{
        float:right;
        cursor:pointer;
        padding:10px;
        background-color:#6ED4D8;
        border-radius:10px;
        border:none;
        font-size:12px;
        font-weight:bold;
        margin:10px;
}

.cancelBtn{
    float:right;
    cursor:pointer;
    padding:10px;
    border-radius:10px;
    border-color: #6ED4D8;
    border-style:solid;
    background-color: white;
    border-width:1px;
    font-size:12px;
    font-weight:bold;
    margin:10px;
}
.buttons_wrap{
    position:fixed;
    bottom:10px;
    right:10px;

}
.input_todo{
    height:24px;
    width:80%;
    margin:20px auto;
    padding-top: 2px;
    text-align: center;
}
/*  */
.section .folder_ {
    /* 폴더를 감싸는 흰 div */
    width:850px; 
    min-height: 450px;
    background-color:rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    margin-top:20px;
    /* margin-left:40px;
    justify-content: center;
    background-color:white;
    height:100%;
    text-align: center;
    vertical-align: middle;
    border-radius:5px;
    align-items: center; */

}
/* .container .folder > div > span{
    /* 폴더 추가할 때 플러스 버튼 */
    /* //font-weight:bold;
    font-size:1.5em; */
/* } */
#folder_plus{
    margin:17px;
    width: 102px;
    height: 81px;
    /* vertical-align: middle;
    position:relative; */
   /* 참고하기: https://today-myday.tistory.com/8 */
    display:inline-block;
}
#folder_plus > img {
    width:100%;
    height:auto;
}
#folder_plus > p {
    text-align: center;
	position: relative;
	top: -70%;
	left: 50%;
	transform: translate( -50%, -50% );
    cursor: pointer;
    
}
.folder {
    /* 각 폴더에 대해서 */
    /* 각 폴더에 대한 색 지정은 3을 기준으로 나머지 조절해서 설정하기. 일단은 하나의 색으로 설정함. */
    /* 글씨 부분에 세로 정렬 필요 . 현재 크기나 위치가 자기 맘대로임..*/
    display:inline-block;
    margin:17px; 
    width: 102px;
    height: 81px;
    /* padding-bottom:10%; */

} 
.folder_img {
    width:100%;
    height:auto;
}
.main_folder_name{
    text-align: center;
	position: relative;
    cursor:pointer;
	top: -70%;
	left: 50%;
	transform: translate( -50%, -50% );
}
.folder_course {
    display:block;
}
.wrap_folder {
    display: inline;
    /* margin:17px; */
    
}
.fixed_folder {
    /* 각 폴더에 있는 별 위치와 크기 설정 */
    float:left;
    position:relative;
    margin-top:-85%; 
    width: 15px; 
    height: auto;
}
/* 
.three_button{
    position:relative;
    z-index:1;
    margin-top:-69%;
    width:15px;
    float:right;
    opacity:0;
    cursor:pointer;
}
.three_button:hover{
    opacity:1;
} */

/* .folder_menu {
    display:inline;
    position:relative;
    top:-100%;
    margin-left:10px;
    float:right;
}
.folder_menu > img {
    width:15px;
    height: auto;
    margin:10px;
} */
.revise_folder, .delete_folder{
    width:15px;
    height: auto;
    margin:0 0 5px 5px;
    position: relative;
    top:-90%;
    float:right;
    opacity: 0;
} 
.revise_folder:hover {
    opacity: 1;
    cursor:pointer;
}
.delete_folder:hover{
    opacity: 1;
    cursor:pointer;
}
.day_button{ 
    position:relative;
    z-index:1;
    top:10px;
    right:5px;
    width:20px;
    float:right;
    
    opacity:0;
}
.day_button:hover{
    opacity:1;
}

.folder_button{ 
    position:relative;
    z-index:1;
    top:-70px;
    /* right:5px; */
    width:15px;
    float:right;
    opacity:0;
}
.folder_button:hover{
    opacity:1;
}
#modal-todo{
    vertical-align: middle;
    width:80%;
    height:20px;
    font-size:15px;
}