div, input , p , h3 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#datepicker{
    display:none;
    position:relative;
    z-index:1;
    left:5px;
    width:35px;
}
.d-date{ 
    /* 날짜 선택하는 부분 */
    width:130px;
    height:45px; 
    padding:5px;
    margin: 5px;
    background-color:#e7eff0;
    border-radius:10px;
    border:none;
    font:bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
.d-content{
        width: 220px;
        height:45px; 
        padding:5px;
        margin: 5px;
        background-color:#e7eff0;
        border-radius:10px;
        border: none;
        font:bold;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
p {
    font-weight:bold;
    font-size:15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.d-plus{
    /* 저장 버튼 */
    width: 160px;
    height:45px; 
    padding:5px;
    margin: 5px;
    background-color:#6ed4d8;
    border-radius:10px;
    border:none;
    font:bold;
}
.plus-part{
    display:flex;
    justify-content: center;
    align-items: center;
}
/*
table{
    border:none;
    width: 100%;
}
table > th {
    text-align: center;
    padding:3px;
}
.new_tr > td{
    text-align:center;
    padding:3px;
}
.new_delete_btn {
    align-content: center;
    width: 35px;
    height: 35px;
    border: none;
    background: url("media/delete.png") no-repeat;
    cursor: pointer;
}
.new_modify_btn{
    align-content: center;
    width: 35px;
    height: 35px;
    border: none;
    background: url("media/edit.png") no-repeat;
    cursor: pointer;
}
table > tbody >  tr> td{
    text-align:center;
    padding:3px;
}
.btn_modify_d-day{ 
    align-content: center;
    width: 35px;
    height: 35px;
    border: none;
    background: url("media/edit.png") no-repeat;
    cursor: pointer;
}
.btn_delete_d-day{
    align-content: center;
    width: 35px;
    height: 35px;
    border: none;
    background: url("media/delete.png") no-repeat;
    cursor: pointer;
}*/

.buttons_wrap{
    position:fixed;
    bottom:10px;
    right:10px;

}
.uploadBtn{

    padding:10px;
    background-color:#6ED4D8;
    border-radius:10px;
 
    border:none;
    font-size:12px;
    font-weight:bold;
    
}
.cancelBtn{
    padding:10px;
    border-radius:10px;
    border-color: #6ED4D8;
    border-style:solid;
    background-color: white;
    border-width:1px;
    font-size:12px;
    font-weight:bold;
    margin-right:10px;
}