<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/public/media/favicon.ico">
    <link rel="icon" href="/public/media/favicon.ico">

    <title><%= title %></title>
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/> 
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script> 
    <script src="//code.jqconst folder = await Folder.find({user_id:res.locals.user._id});uery.com/jquery-1.11.0.min.js"></script>

    <link rel="stylesheet" href="/public/mainframe_shortcuts.css">
    <link rel="stylesheet" href="/public/mainframe.css">
    <link rel="stylesheet" href="/public/font.css">

    <link rel="stylesheet" type="text/css" href="/public/header.css"/>
    <link rel="stylesheet" type="text/css" href="/public/component.css"/>
    <link rel="stylesheet" type="text/css" href="/public/timetable/timetable_main.css"/>
    <link rel="stylesheet" type="text/css" href="/public/timetable/timetable_edit.css"/>
    <link rel="stylesheet" type="text/css" href="/public/timetable/course_add_modal.css"/>
    <link rel="stylesheet" type="text/css" href="/public/timetable/course_modify_modal.css"/>
</head>
<body> 
    <div id="wrap">
        <div class="header" role="banner">
            <link rel="stylesheet" type="text/css" href="/public/header.css"/>
            <link rel="stylesheet" type="text/css" href="/public/component.css"/>
            <link rel="stylesheet" type="text/css" href="/public/font.css"/>
            <div class="main_header">
                <!-- 여기는 상단 헤더 (로고, 메뉴버튼들) -->
                <div class="logo_area">
                    <a href="/" class="logo_tight"><img src="/logo/logo_lower.png" class=img_logo onclick="location.href='/'" alt=""/></a>
                    <section class="group_menu">
                        <nav class="menu_effect" id="menu_nav">
                            <a href="/" class="menu" id="menu_home">내 공부방</a>
                            <a href="/guestbook" class="menu" id="menu_guestbook">방명록</a>
                            <a href="/timetable/main" class="menu" id="menu_timetable">시간표</a>
                        </nav>
                    </section>
                </div>
                <script type="text/javascript">   
                    $(document).ready( function() {
                        const location = window.location.pathname;
                        if (location == '/') {
                            $('#menu_home').addClass('menu_active');
                            $('#menu_guestbook').removeClass('menu_active');
                            $('#menu_timetable').removeClass('menu_active');
                        } else if (location == '/guestbook') {
                            $('#menu_guestbook').addClass('menu_active');
                            $('#menu_home').removeClass('menu_active');;
                            $('#menu_timetable').removeClass('menu_active');
                        } else if (location == '/timetable/main' || location == '/timetable/edit') {
                            $('#menu_timetable').addClass('menu_active');
                            $('#menu_home').removeClass('menu_active');
                            $('#menu_guestbook').removeClass('menu_active');
                        } else {
                            $('#menu_home').removeClass('menu_active');
                            $('#menu_guestbook').removeClass('menu_active');
                            $('#menu_timetable').removeClass('menu_active');
                        }
                        
                    });
                    
                </script>
                <div class="login">
                        <div class="profile_section">
                            <% if (user) { %> <%# 로그인 되어 있는 경우 (server에서 접속중인 user 정보 받아옴) %> 
                            <div class="alarm_bell">
                                <img id="alarm_bell_img" src="/public/media/bell_pure.png">
                            </div>
                            <div class="profile">
                                <!-- 이미지 클릭시 프로필 관리 화면으로 가는것도 좋을듯 -->
                                <img id="activeUserimg" src=<%= user.profile_image %>  onclick="location.href='#프로필수정화면'">
                                <div class="username" id="activeUsername"><%= user.name +'님'%></div> 
                            </div>
                            <div class="logout">
                                <input type="submit" class="btn_logout" title="로그아웃" value="로그아웃" onClick="location.href='/auth/logout'"/>    
                            </div>
                            <% } %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="container" role="main">
            <!-- 여기는 본문 들어갈 메인 섹션 -->
            <div class="background-box">
                <div class="timetable_edit_header">
                    <div class="title_msg">전체 수강중인 과목</div>
                    <div class="btn_add_course">
                        <input type ="button" value="+ 과목 추가하기" class="trigger"></input>
                    </div>
                    
                </div>
                <!-- <hr id ="timetable-line"> -->
                <div class="timetable_edit_section">
                    <!-- 여기에 본격적인 내용 -->
                    <div class ="course_list">
                        <table id = "course_table" style="table-layout:fixed; word-break:break-all;">
                            <thead><tr><th style='width:17%'>과목명</th style='width:17%'><th>시간</th><th style='width:46%'>강의 방식(링크) / 강의실</th><th style='width:10%'>교수명</th><th  style='width:5%; text-align: center;' class="modi">수정</th><th class="del" style='width:5%; text-align: center;'>삭제</th></tr></tbody>
                            <tbody id = "course_table_body">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>    
        

        <!-- 팝업 될 레이어 -->
        <div id="modal" class="modal">
            <div class="modal-content">
                <span class="close_button"> &times;</span>
                <h1 class="title">과목 추가하기</h1>
                <form id="course_add_form" action="#post.js" method="POST">
                    <div class="add_label">과목 이름</div>
                    <input type="text" class="add_input" id="course_title" name="course_title" placeholder="내용을 입력해주세요." required="required">
                    
                    <div class="add_label">교수명</div>
                    <input type="text" class="add_input" id="course_professor" name="course_professor" placeholder="내용을 입력해주세요." required="required">

                    <!-- <input type="button" class="btn_day_add" id="btn_day_add" title="강의 시간 추가" alt="강의 시간 추가" value="+ 강의 시간 추가"></input> -->
                    <div class="add_label">강의 방식 및 시간</div>
                    
                    <div class="add_wrap">
                        <div class="type_label">강의 방식</div>
                        <div class="course_type_form" id="course_type_radio">
                            <label for="radio1" class="mdl-radio mdl-js-radio">
                                <input type="radio" id="radio1" name="course_type" value="online_realtime" class="mdl-radio__button">
                                <span class="mdl-radio__label">온라인 실시간</span>
                            </label>
                            <label for="radio2" class="mdl-radio mdl-js-radio">
                                <input type="radio" id="radio2" name="course_type" value="online_video" class="mdl-radio__button">
                                <span class="mdl-radio__label">온라인 동영상</span>
                            </label>
                            <label for="radio3" class="mdl-radio mdl-js-radio">
                                <input type="radio" id="radio3" name="course_type" value="offline" class="mdl-radio__button" checked="checked"> 
                                <span class="mdl-radio__label">오프라인</span>
                            </label>
                        </div>

                        <div class="type_label">강의 시간</div>
                        <div class="course_time_bundle">
                            <select id="course_day" class="course_day">
                                <option value="default">요일</option>
                                <option value=1>월요일</option>
                                <option value=2>화요일</option>
                                <option value=3>수요일</option>
                                <option value=4>목요일</option>
                                <option value=5>금요일</option>
                                <option value=6>토요일</option>
                            </select>
                            <input type="time" class="course_time" id="course_start_time" value="09:00" min="09:00" max="21:00"/>
                            <p>&nbsp;~&nbsp;</p>
                            <input type="time" class="course_time" id="course_end_time" value="09:15" min="09:15" max="21:00"/>
                        </div>
                        <div class="type_label" id="course_location_label">강의실</div>
                        <input type="text" class="course_location" id="course_location" name="course_location" placeholder="강의실 입력" required="required">
                        
                        <input type="button" class="btn_time_add" id="btn_time_add" title="추가하기" alt="추가하기" value="추가하기">
                    </div>
        
                    <input type="button" class="btn_type btn_primary" id="course_save" title="저장하기" alt="저장하기" value="저장하기">
                </form>
                <div class="course_times">

                </div>
            </div>
        </div>
        <div id="modal-modify" class="modal-modify">
            <div class="modal-content-modify">
                <span class="close_button_modify"> &times;</span>
                <h1 class="title">과목 수정하기</h1>
                <form id="course_add_form_modify" action="#post.js" method="PATCH">
                    <div class="add_label">과목 이름</div>
                    <input type="text" class="add_input" id="course_title_modify" name="course_title_modify" placeholder="내용을 입력해주세요." required="required">
                    
                    <div class="add_label">교수명</div>
                    <input type="text" class="add_input" id="course_professor_modify" name="course_professor_modify" placeholder="내용을 입력해주세요." required="required">

                    <div class="add_label">강의 방식 및 시간</div>
                    
                    <div class="add_wrap">
                        <div class="type_label">강의 방식</div>
                        <div class="course_type_form" id="course_type_radio">
                            <label for="radio1m" class="mdl-radio mdl-js-radio">
                                <input type="radio" id="radio1m" name="course_type_modify" value="online_realtime" class="mdl-radio__button">
                                <span class="mdl-radio__label">온라인 실시간</span>
                            </label>
                            <label for="radio2m" class="mdl-radio mdl-js-radio">
                                <input type="radio" id="radio2m" name="course_type_modify" value="online_video" class="mdl-radio__button">
                                <span class="mdl-radio__label">온라인 동영상</span>
                            </label>
                            <label for="radio3m" class="mdl-radio mdl-js-radio">
                                <input type="radio" id="radio3m" name="course_type_modify" value="offline" class="mdl-radio__button" checked="checked"> 
                                <span class="mdl-radio__label">오프라인</span>
                            </label>
                        </div>

                        <div class="type_label">강의 시간</div>
                        <div class="course_time_bundle">
                            <select id="course_day_modify" class="course_day">
                                <option value="default">요일</option>
                                <option value=1>월요일</option>
                                <option value=2>화요일</option>
                                <option value=3>수요일</option>
                                <option value=4>목요일</option>
                                <option value=5>금요일</option>
                                <option value=6>토요일</option>
                            </select>
                            <input type="time" class="course_time" id="course_start_time_modify" value="09:00" min="09:00" max="21:00"/>
                            <p>&nbsp;~&nbsp;</p>
                            <input type="time" class="course_time" id="course_end_time_modify" value="09:15" min="09:15" max="21:00"/>
                        </div>
                        <div class="type_label" id="course_location_label_modify">강의실</div>
                        <input type="text" class="course_location" id="course_location_modify" name="course_location" placeholder="강의실 입력" required="required">
                        
                        <input type="button" class="btn_time_add" id="btn_time_modify" title="추가하기" alt="추가하기" value="추가하기">
                    </div>
                    <input type="button" class="btn_type btn_primary" id="course_modify" title="수정하기" alt="수정하기" value="수정하기">
                </form>
                <div class="course_times">

                </div>
            </div>
        </div>
        <script type="text/javascript"> 
        // 시간표 수정 메인 스크립트
            function getCourse(course) { // 파라미터 : course 한 개
                var tbody = window.document.getElementById('course_table_body'); //table body 가져오기
                var nrow = tbody.insertRow(-1); //제일 하단에 추가
                var ncell1 = nrow.insertCell(0); //과목명 셀
                var ncell2 = nrow.insertCell(1); //시간 셀 (요일 시작시간-끝시간)
                var ncell3 = nrow.insertCell(2); //강의 방식 셀 (온라인실시간/온라인동영상/오프라인-강의실명)
                var ncell4 = nrow.insertCell(3); //교수명 셀
                var ncell5 = nrow.insertCell(4); //수정버튼
                var ncell6 = nrow.insertCell(5); //삭제버튼
                ncell1.innerHTML = course.course_name; 
                var timetext="";
                //console.log(timetext);
                for (var j=0; j<course.schedules.length; j++) { //과목 스케줄 리스트 - 시간
                    var text = courseDay(course.schedules[j].day) +' '+ course.schedules[j].stime +'-'+ course.schedules[j].etime;
                    timetext = timetext + text + '<br>';
                }
                var typetext="";
                for (var j=0; j<course.schedules.length; j++) { //과목 스케줄 리스트 - 타입
                    var text = courseType(course.schedules[j].type, course.schedules[j].classroom);
                    typetext = typetext + text + '<br>';
                }
                ncell2.innerHTML = timetext;
                ncell3.innerHTML = typetext;
                ncell4.innerHTML = course.professor_name;
                ncell5.innerHTML = '<input type="button" class="btn_modify_course"/> <input type="hidden" value="'+course._id+'"/>';
                ncell6.innerHTML = '<input type="button" class="btn_delete_course"/> <input type="hidden" value="'+course._id+'"/>';

                
                ncell5.addEventListener('click', function() { //수정 버튼 리스너 추가
                    var title = course.course_name; //과목 이름 가져오기
                    var id = course._id;
                    modify_id = id;
                    //console.log('수정할과목:'+title, '수정할 DB _id:'+id); 
                    toggleModifyModal();
                });
                

                ncell6.addEventListener('click', function() { //삭제 버튼 리스너 추가
                    var title = course.course_name; //과목 이름 가져오기
                    var id = course._id;
                    // console.log('삭제할 과목:' + title, '삭제할 DB _id:'+id); //과목 이름 가져오기
                    var rowindex = $(this).closest("tr").index();
                    var ret = confirm("정말로 삭제하시겠습니까?");
                    if (ret) { //삭제 수행
                        $.ajax({
                            type:"DELETE",
                            async : true,
                            url:'/timetable/course/delete'+id+'', 
                        success:function( data ){ // POST요청 성공한 경우
                            // location.href='/timetable/edit'
                            if (data == 'delete_succeeded') { // 삭제한 칸 삭제
                                var tbody = window.document.getElementById('course_table_body'); //table body 가져오기
                                tbody.deleteRow(rowindex);
                            } else {
                                alert('과목 삭제를 실패했습니다.\n페이지 새로고침 후 다시 시도해주세요.');
                            }
                        },
                        error : function(err) {
                            alert('과목 삭제를 실패했습니다. \n페이지 새로고침 후 다시 시도해주세요.');
                        }});
                    }else { //취소버튼 or 다이얼로그 닫은 경우
                        ;
                    }
                });
                
            }
            function AddButtonListener() {
                var edit = document.getElementsByClassName('btn_modify_course');
                for (var i=0; i<edit.length; i++) {
                    edit[i].addEventListener('click', function() { //수정 버튼 리스너 추가
                        var title = this.parentElement.parentElement.firstElementChild.innerHTML; //과목 이름 가져오기
                        var id = $(this).next().val();
                        modify_id = id;
                        toggleModifyModal();
                    });
                }
                var target = document.getElementsByClassName('btn_delete_course');
                for (var i=0; i<target.length; i++) {
                    target[i].addEventListener('click', function() { //삭제 버튼 리스너 추가
                        var title = this.parentElement.parentElement.firstElementChild.innerHTML; //과목 이름 가져오기
                        var id = $(this).next().val();
                        var rowindex = $(this).closest("tr").index();
                        var ret = confirm("정말로 삭제하시겠습니까?");
                        if (ret) { //삭제 수행
                            $.ajax({
                                type:"DELETE",
                                async : true,
                                url:'/timetable/course/delete'+id+'', 
                            success:function( data ){ // POST요청 성공한 경우
                                if (data == 'delete_succeeded') { // 삭제한 테이블의 행 삭제
                                    var tbody = window.document.getElementById('course_table_body'); //table body 가져오기
                                    tbody.deleteRow(rowindex);
                                }
                            },
                            error : function(err) {
                                alert('과목 삭제를 실패했습니다. \n다시 시도해주세요.');
                            }});
                        }else { //취소버튼 or 다이얼로그 닫은 경우
                            ;
                        }
                    });
                }
            }
            function getCourses(course) { //파라미터:courselist
                var tbody = window.document.getElementById('course_table_body'); //table body 가져오기
                for(var i=0; i<course.length; i++) { //과목 개수만큼 반복하기
                    var nrow = tbody.insertRow(-1); //제일 하단에 추가
                    var ncell1 = nrow.insertCell(0); //과목명 셀
                    var ncell2 = nrow.insertCell(1); //시간 셀 (요일 시작시간-끝시간)
                    var ncell3 = nrow.insertCell(2); //강의 방식 셀 (온라인실시간/온라인동영상/오프라인-강의실명)
                    var ncell4 = nrow.insertCell(3); //교수명 셀
                    var ncell5 = nrow.insertCell(4); //수정버튼
                    var ncell6 = nrow.insertCell(5); //삭제버튼

                    ncell1.innerHTML = course[i].course_name; 
                    var timetext="";
                    //console.log(timetext);
                    for (var j=0; j<course[i].schedules.length; j++) { //과목 스케줄 리스트 - 시간
                        var text = courseDay(course[i].schedules[j].day) +' '+ course[i].schedules[j].start_time +'-'+ course[i].schedules[j].end_time;
                        timetext = timetext + text + '<br>';
                    }
                    var typetext="";
                    for (var j=0; j<course[i].schedules.length; j++) { //과목 스케줄 리스트 - 타입
                        var text = courseType(course[i].schedules[j].course_type, course[i].schedules[j].classroom);
                        typetext = typetext + text + '<br>';
                    }
                    ncell2.innerHTML = timetext;
                    ncell3.innerHTML = typetext;
                    ncell4.innerHTML = course[i].professor_name;
                    ncell5.innerHTML = '<input type="button" class="btn_modify_course"/> <input type="hidden" value="'+course[i]._id+'"/>';
                    ncell6.innerHTML = '<input type="button" class="btn_delete_course"/> <input type="hidden" value="'+course[i]._id+'"/>';
                }
                
            }
            function courseDay(day) {
                switch(day) {
                    case '1':
                        return "월요일";
                    case '2':
                        return "화요일";
                    case '3':
                        return "수요일";
                    case '4':
                        return "목요일";
                    case '5':
                        return "금요일";
                    case '6':
                        return "토요일";
                }
            }
            function courseType(type, classroom) { //과목 타입(online_realtime,online_video,offline)
                switch (type) {
                    case 'online_realtime': // 온라인이면 링크를 리턴
                        return '온라인 실시간 (<a  href="'+classroom+'" target="_blank">'+classroom+'</a>)';
                    case 'online_video':
                        return '온라인 동영상 (<a href="'+classroom+'" target="_blank">'+classroom+'</a>)';
                    case 'offline': //오프라인이면 강의실을 리턴
                        return classroom;
                }
            }
            // 추가, 수정 모달 팝업 관련 스크립트
            var modal = document.querySelector(".modal"); // 팝업 될 레이어 class명
            var modal_modify = document.querySelector(".modal-modify"); 
            var trigger = document.querySelector(".trigger"); // 과목 추가하기 버튼
            var closeButton = document.querySelector(".close_button"); // 과목 추가 팝업 닫기 버튼
            var close_button_modify = document.querySelector(".close_button_modify"); // 과목 추가 팝업 닫기 버튼
            
            var num = 0; // 버튼 생성용
            var count = 0; // 버튼 개수 세기용
            var modify_id; // 수정하는 과목의 몽고DB _id 저장용

            function toggleModifyModal() {
                modal_modify.classList.toggle("show_modify_modal");
            }

            function toggleModal() { // 추가하기 팝업일 때
                modal.classList.toggle("show_modal");
            }
        
            function windowOnClick(event) {
                if (event.target === modal) {
                    toggleModal();
                } else if (event.target === modal_modify) {
                    toggleModifyModal();
                }
            }

            $(document).ready(function () {
                var timetable = JSON.parse('<%- JSON.stringify(timetable) %>');
                
                getCourses(timetable); // 시간표 뿌리기
                AddButtonListener(); // 버튼 이벤트 등록
                
            });

        
            trigger.addEventListener("click", toggleModal);
            closeButton.addEventListener("click", toggleModal);
            close_button_modify.addEventListener("click", toggleModifyModal);
            // window.addEventListener("click", windowOnClick); //모달 밖 클릭시 닫기 하는 함수
            
            // 강의 방식 라디오 버튼
            $(document).ready(function () {
                $("input:radio[name=course_type]").click(function () {
                // getter (선택된 강의종류 가져오기)
                var radioVal = $('input[name="course_type"]:checked').val();
                    if (radioVal=="offline") {
                        //console.log("오프라인");
                        $('#course_location_label').html('강의실');
                        $('#course_location').attr('placeholder', '강의실 입력');
                    } else {
                        //console.log("온라인");
                        $('#course_location_label').html('강의 링크');
                        $('#course_location').attr('placeholder', '강의링크 입력');
                    }
                });


                $('#btn_time_add').click(function (event) {
                    var type = $('input[name="course_type"]:checked').val(); // 오프라인, 온라인, 온라인실시간 中 1
                    var day = $('#course_day option:selected').val(); // default, mon, tue, wed, thu, fri, sat 中 1
                    var stime = $('#course_start_time').val(); // 09:00 형태
                    var etime = $('#course_end_time').val();
                    var classroom = $('#course_location').val(); 
                    
                    if (day === 'default') {
                        alert('강의 요일을 선택해주세요');
                    } else if (stime > etime) {
                        alert('강의 종료시간은 시작시간보다 늦어야 합니다.');
                    } else if (classroom.trim() === '' && type == 'offline') {
                        alert('강의실을 입력해주세요.');
                    } else if (classroom.trim() === '') {
                        alert('강의 링크를 입력해주세요.');
                    }  else if (classroom.indexOf('<')!=-1 && classroom.indexOf('>')!=-1 ){
                        alert("내용에 있는 '<', '>' 표시를 제거해주세요.")
                    } 
                    else { // 모두 올바르게 입력
                        if (count < 5) {
                            $.ajax({
                                type:"POST",
                                async : true,
                                url:'/timetable/course/time/add',
                                data : {
                                    type : type,
                                    day : day,
                                    stime : stime,
                                    etime : etime,
                                    classroom : classroom,
                                    target : num, // 삭제 버튼 을 위해 num 함께 저장
                                },
                                success:function( data ){ // POST요청 성공한 경우
                                    if (data.message === '/course/time/add?error=exist') { 
                                        if (data.course === 'this') // 기존에 추가한 과목과 겹칠 경우
                                            alert("이미 추가한 강의 일정과 시간이 겹칩니다.");
                                        else //지금 추가중인 과목의 시간과 겹칠 경우
                                            alert("'"+data.course+"' 수업과 시간이 겹칩니다.");    
                                        
                                    } else { // 시간 목록 띄우기
                                        $('.course_times').append('<p id="course_time'+num+'"> '+data.type+', '+data.day+', '+data.stime+' ~ '+data.etime+'&emsp;</p>  <span class="time_sub_button" id="time_sub_button'+num+'">-</span><input class="time" type="hidden" value="'+num+'"/><br id="time_br'+num+'">');
                                        // $('#course_add_form').after('<input class="time" type="hidden" value='+num+'/> <p id="course_time'+num+'> '+data.type+', '+data.day+', '+data.stime+' ~ '+data.etime+'&emsp; </p><span class="time_sub_button" id="time_sub_button'+num+'>-&nbsp;</span>');
                                        $('#time_sub_button'+num).click(function (event) { // 해당 시간 삭제 버튼
                                            var target_num = $(this).next().val();
                                            //var target_num = $(this).parent('.course_times').children('#time_hidden'+).val;
                                            
                                            //console.log(target_num+'이 시간 삭제해야 합니다');
                                            $.ajax({
                                                type:"DELETE",
                                                async : true,
                                                url:'/timetable/course/time/delete',
                                                data : {
                                                    target : target_num, //클릭한 [-]버튼이 담긴 시간 리스트의 num 값
                                                },
                                                success:function( data ){ // POST요청 성공한 경우
                                                    //console.log('삭제성공',data.index);
                                                    $('#time_sub_button'+data.index).remove(); // p태그 삭제
                                                    $('#course_time'+data.index).remove(); // 버튼 삭제
                                                    $('#time_hidden'+data.index).remove();
                                                    $('#time_br'+data.index).remove(); // 개행 삭제
                                                    count--;
                                                },
                                                error: function(err) { // POST 요청 실패시
                                                    console.log('시간 삭제 실패' + err);
                                                }
                                            });
                                        });
                                        num++;
                                        count++;

                                        // 성공후 입력칸 초기화
                                        $('input[name="course_type"][value="offline"]').attr('checked', true);
                                        $('#course_day').val('default').prop('selected', true);
                                        $('#course_start_time').val('09:00');
                                        $('#course_end_time').val('09:15');
                                        $('#course_location').val(''); 
                                    }
                                    
                                }, 
                                error: function(err) { // POST 요청 실패시
                                    console.log('시간 추가 실패' + err);
                                }
                            });
                        } else {
                            alert ('시간은 최대 5개까지 추가할 수 있습니다.')
                        }
                        
                    }
                });

                $('#course_save').bind('click', function() {
                    saveCourse(this);
                });

                var saveCourse = function(event) {
                    $('#course_save').unbind('click');

                    var name = $('#course_title').val();
                    var professor = $('#course_professor').val();
                    if (name.trim() === '') {
                        alert('과목명을 입력해주세요.');
                        $('#course_save').bind('click', function() { saveCourse(this); });
                    } else if (professor.trim() === '') {
                        alert('교수명을 입력해주세요.');
                        $('#course_save').bind('click', function() { saveCourse(this); });
                    } else if (count < 1) {
                        alert('강의 방식 및 시간을 입력한 후 [추가하기]버튼을 눌러 과목 시간을 추가해주세요');
                        $('#course_save').bind('click', function() { saveCourse(this); });
                    } else if (professor.indexOf('<')!=-1 && professor.indexOf('>')!=-1 ){
                        alert("교수명에 있는 '<', '>' 표시를 제거해주세요.")
                        $('#course_save').bind('click', function() { saveCourse(this); });
                    } else if (name.indexOf('<')!=-1 && name.indexOf('>')!=-1 ){
                        alert("과목명에 있는 '<', '>' 표시를 제거해주세요.")
                        $('#course_save').bind('click', function() { saveCourse(this); });
                    } 
                    else {
                        $.ajax({
                        type:"POST",
                        async : true,
                        url:'/timetable/course/add',
                        data : {
                            name : name,
                            professor : professor
                        },
                        success:function(data){ // POST요청 성공한 경우
                            // 버튼 더이상 클릭되지 않게 하기
                            //$(this).attr('disabled', true); // 안됨
                            $('#course_save').bind('click', function() {
                                saveCourse(this);
                            });

                            // 입력된 정보들 지우기
                            $('#course_title').val('');
                            $('#course_professor').val('');
                            // 모달에 있던 시간 리스트 삭제
                            $('.course_times').children().remove();

                            toggleModal();
                            getCourse(data); // 동적으로 추가
                            
                        },
                        error: function(err) { // POST 요청 실패시
                            console.log('과목 추가 실패' + err);
                            alert('과목 추가를 실패했습니다. 다시 시도해주세요.');
                            toggleModal();
                        }
                        });
                    }
                    
                };

                $("input:radio[name=course_type_modify]").click(function () {
                // getter (선택된 강의종류 가져오기)
                var radioVal = $('input[name="course_type_modify"]:checked').val();
                    if (radioVal=="offline") {
                        $('#course_location_label_modify').html('강의실');
                        $('#course_location_modify').attr('placeholder', '강의실 입력');
                    } else {
                        $('#course_location_label_modify').html('강의 링크');
                        $('#course_location_modify').attr('placeholder', '강의링크 입력');
                    }
                });


                $('#btn_time_modify').click(function (event) {
                    var type = $('input[name="course_type_modify"]:checked').val(); // 오프라인, 온라인, 온라인실시간 中 1
                    var day = $('#course_day_modify option:selected').val(); // default, mon, tue, wed, thu, fri, sat 中 1
                    var stime = $('#course_start_time_modify').val(); // 09:00 형태
                    var etime = $('#course_end_time_modify').val();
                    var classroom = $('#course_location_modify').val(); 
                    
                    if (day === 'default') {
                        alert('강의 요일을 선택해주세요');
                    } else if (stime > etime) {
                        alert('강의 종료시간은 시작시간보다 늦어야 합니다.');
                    } else if (classroom.trim() === '' && type == 'offline') {
                        alert('강의실을 입력해주세요.');
                    } else if (classroom.trim() === '') {
                        alert('강의 링크를 입력해주세요.');
                    } else if (classroom.indexOf('<')!=-1 && classroom.indexOf('>')!=-1 ){
                        alert("내용에 있는 '<', '>' 표시를 제거해주세요.")
                    } else { // 모두 올바르게 입력
                        if (count < 5) {
                            $.ajax({
                                type:"POST",
                                async : true,
                                url:'/timetable/course/time/add',
                                data : {
                                    type : type,
                                    day : day,
                                    stime : stime,
                                    etime : etime,
                                    classroom : classroom,
                                    target : num, // 삭제 버튼 을 위해 num 함께 저장
                                },
                                success:function( data ){ // POST요청 성공한 경우
                                    if (data.message === '/course/time/add?error=exist') {
                                        alert("'"+data.course+"' 수업과 시간이 겹칩니다.")
                                    } else {
                                    // 시간 목록 띄우기
                                    
                                    $('.course_times').append('<p id="course_time'+num+'"> '+data.type+', '+data.day+', '+data.stime+' ~ '+data.etime+'&emsp;</p>  <span class="time_sub_button" id="time_sub_button'+num+'">-</span><input class="time" type="hidden" value="'+num+'"/><br id="time_br'+num+'">');
                                    // $('#course_add_form').after('<input class="time" type="hidden" value='+num+'/> <p id="course_time'+num+'> '+data.type+', '+data.day+', '+data.stime+' ~ '+data.etime+'&emsp; </p><span class="time_sub_button" id="time_sub_button'+num+'>-&nbsp;</span>');
                                    $('#time_sub_button'+num).click(function (event) { // 해당 시간 삭제 버튼
                                        var target_num = $(this).next().val();
                                        //console.log(target_num+'이 시간 삭제해야 합니다');
                                        $.ajax({
                                            type:"POST",
                                            async : true,
                                            url:'/timetable/course/time/delete',
                                            data : {
                                                target : target_num, //클릭한 [-]버튼이 담긴 시간 리스트의 num 값
                                            },
                                            success:function( data ){ // POST요청 성공한 경우
                                                //console.log('삭제성공',data.index);
                                                $('#time_sub_button'+data.index).remove(); // p태그 삭제
                                                $('#course_time'+data.index).remove(); // 버튼 삭제
                                                $('#time_hidden'+data.index).remove();
                                                $('#time_br'+data.index).remove(); // 개행 삭제
                                                count--;
                                            },
                                            error: function(err) { // POST 요청 실패시
                                                console.log('시간 삭제 실패' + err);
                                            }
                                        });
                                    });
                                    num++;
                                    count++;

                                    // 성공후 입력칸 초기화
                                    $('input[name="course_type_modify"][value="offline"]').attr('checked', true);
                                    $('#course_day_modify').val('default').prop('selected', true);
                                    $('#course_start_time_modify').val('09:00');
                                    $('#course_end_time_modify').val('09:15');
                                    $('#course_location_modify').val(''); 
                                }
                                }, 
                                error: function(err) { // POST 요청 실패시
                                    console.log('시간 추가 실패' + err);
                                }
                            });
                        } else {
                            alert ('시간은 최대 5개까지 추가할 수 있습니다.')
                        }
                        
                    }
                });

                $('#course_modify').bind('click', function() {
                    modifyCourse(this);
                });

                var modifyCourse = function(event) {
                    $('#course_modify').unbind('click');

                    var name = $('#course_title_modify').val();
                    var professor = $('#course_professor_modify').val();
                    if (name.trim() === '') {
                        alert('과목명을 입력해주세요.');
                        $('#course_modify').bind('click', function() { saveCourse(this); });
                    } else if (professor.trim() === '') {
                        alert('교수명을 입력해주세요.');
                        $('#course_modify').bind('click', function() { saveCourse(this); });
                    } else if (count < 1) {
                        alert('강의 방식 및 시간을 입력한 후 [추가하기]버튼을 눌러 과목 시간을 추가해주세요');
                        $('#course_modify').bind('click', function() { saveCourse(this); });
                    } else if (professor.indexOf('<')!=-1 && professor.indexOf('>')!=-1 ){
                        alert("교수명에 있는 '<', '>' 표시를 제거해주세요.");
                        $('#course_modify').bind('click', function() { saveCourse(this); });
                    } else if (name.indexOf('<')!=-1 && name.indexOf('>')!=-1 ){
                        alert("과목명에 있는 '<', '>' 표시를 제거해주세요.");
                        $('#course_modify').bind('click', function() { saveCourse(this); });
                    } else {
                        $.ajax({
                        type:"PUT",
                        async : true,
                        url:'/timetable/course/modify',
                        data : {
                            name : name,
                            professor : professor,
                            id : modify_id // 수정할 과목의 _id
                        },
                        success:function(data){ // PUT 요청 성공한 경우
                            // 수정하기 버튼 2번 이상 클릭되지 않도록 bind
                            $('#course_modify').bind('click', function() {
                                modifyCourse(this);
                            });
                            toggleModifyModal();
                            location.href = '/timetable/edit';
                        },
                        error: function(err) { // PUT 요청 실패시
                            console.log('과목 수정 실패' + err);
                            alert('과목 수정을 실패했습니다.\n다시 시도해주세요.');
                        }
                        });
                    }
                    
                };
                

            });
        </script>
    </div>

</body>
</html>