<html>
<body>
    <div>
        <!-- <a href="http://localhost:3000"><img src="http://localhost:3000/public/media/logo_fill_300.png"/></a> -->
        <p style='color:#000000'>비밀번호 초기화를 위해서는 아래의 URL을 클릭하여 주세요.<p>
        <a style='color:#000000' href='http://localhost:3000/auth/resetpw/<%=token%>'>비밀번호 초기화 하기</a>
    </div>
</body>
</html>