.profile {
    width: 64px;
    height: 64px;
}

.writing-place>table {
    background-color: gray;
    width: 200px;
    height: 200px;
}

body {
    background-color: #e7eff0;
}

.information-menu {
    width: 15%;
    height: 100%;
    margin-right: 10px;
    float: left;
}

.information-menu .logo_area>img {
    width: 150px;
    height: 150px;
    padding: 5px 5px 5px 5px;
    margin-top: 25px;
    margin-left: 25px;
    margin-bottom: 10px;
}

.information-menu .left-menus>li {
    /* border-bottom:1px solid #252626; */
    width: 150px;
    position: relative;
    list-style-type: none;
    padding: 5px 5px 5px 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
    color: black;
    cursor: pointer;
}

.information-menu .left-menus>li>img {
    width: 24px;
    height: 24px;
}

.information-menu .left-menus>div>li>img {
    width: 120px;
    height: 120px;
    list-style-type: none;
    margin-left: 5px;
}

.information-menu .left-menus>div {
    margin-bottom: 100px;
}

.information-menu .left-menus>div>li {
    list-style-type: none;
}

.information-menu .left-menus>li:hover:not(.active) {
    background-color: #6ED4D8;
}

.my-room {
    width: 75%;
    height: 100%;
    margin-top: 50px;
    margin-left: 15%;
    background: white;
}

.my-room .friends_add {
    display: inline-block;
}

.my-room .friends_add .btn_add_course {
    float: right;
    margin-top: 25px;
    margin-left: 800px;
}

.my-room .friends_add .title_msg {
    margin-top: 20px;
    margin-left: 50px;
    font-size: 30px;
    font-weight: bold;
    float: left;
}

.friends_list_box {
    background-color: #d6d6d6;
    align-content: center;
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 50px;
    float: none;
}