.username {
    text-align: center;
    display: inline-block;
}

#wrap {
    overflow: hidden;
    min-width: 1190px;
}

.section {
    float: left;
    width: 930px;
}

#container {
    position: relative;
    width: 1190px;
    padding: 20px 30px;
    margin: 0 auto;
    letter-spacing: -.2px;
}

body {
    background-color: #e7eff0;
}

.img {
    width: 100px;
    height: 100px;
}

.page-bottom {
    margin-top: 30px;
    margin-left: 20%;
    margin-right: 20%;
}

.information-menu {
    width: 15%;
    height: 100%;
    margin-right: 20px;
    margin-top: 80px;
    /* margin-left: 20px; */
    float: left;
}

.logo_area .logo {
    /* background-image: url("media/logo.png");  */
    width: 150px;
    height: 150px;
    padding: 10px 10px 10px 10px;
    cursor: pointer;
}

#course_table tbody tr:hover {
    font-weight: bold;
}

#course_table tbody tr tr {
    margin-left: 0px;
}

.information-menu .left-menus-book>li {
    /* border-bottom:1px solid #252626; */
    width: 150px;
    position: relative;
    list-style-type: none;
    padding: 5px 5px 5px 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
    color: black;
    font-size: 12px;
}

.edit-profile>#edit-button-id {
    cursor: pointer;
    background-color: #6ED4D8;
    height: 30px;
    border-radius: 10px;
    background-color: #6ED4D8;
    display: table-cell;
    vertical-align: middle;
    margin-bottom: 10px;
    height: 30px;
    border: 10px;
    font-size: 12px;
}

.information-menu .left-menus-book>li>img {
    width: 18px;
    height: 18px;
}

.information-menu .left-menus-book>div>li>img {
    width: 100px;
    height: 100px;
    list-style-type: none;
}

.information-menu .left-menus-book>div {
    margin-bottom: 40px;
}

.information-menu .left-menus-book>div>li {
    list-style-type: none;
}

.my-room {
    /* width: 75%; */
    /* margin-top: 70px;
    margin-left: 17%; */
    width: 100%;
    height: 100%;
    padding-bottom: 20px;
    margin-bottom: 40px;
    background: white;
}

.friends {
    width: 100%;
    height: 20%;
    /* margin-top: 50px; */
    /* margin-left: 1%; */
    margin-right: 2%;
    background: white;
}

#friend_edit {
    cursor: pointer;
    border-radius: 10px;
    vertical-align: middle;
    margin-bottom: 3px;
    height: 16px;
    border: 10px;
    font-size: 12px;
    background-position:top right; 
    background-repeat:no-repeat;
        
}

.my-room .friends_add {
    width: 90%;
    height: 50px;
    display: inline-block;
}

#submenu {
    position: relative;
    width: 50%;
    left: 7px;
    top: 45px;
    list-style: none;
    display: block;
    visibility: hidden
}

select {
    /* 원하는 너비설정 */
    padding: .5em .3em;
    /* 여백으로 높이 설정 */
    font-family: inherit;
    /* 폰트 상속 */
    background: no-repeat 95% 50%;
    /* 네이티브 화살표 대체 */
    border: 1px solid #999;
    border-radius: 0px;
    /* iOS 둥근모서리 제거 */
    -webkit-appearance: none;
    /* 네이티브 외형 감추기 */
    -moz-appearance: none;
    background-color: white;
    border: 1px solid gray;
    border-radius: 10px;
    display: inline-block;
    line-height: 1.5em;
    padding: 0.5em 3.5em 0.5em 1em;
    appearance: none;
    margin-top: 20px;
    margin-left: 3%;
    background-image: url("media/dropdown.png");
    background-size: 7px 7px;
    background-position: calc(100% - 10px) calc(1em), calc(100% - 15px) calc(1em + 2px), calc(100% - .5em) .5em;
}


/* IE 10, 11의 네이티브 화살표 숨기기 */

select::-ms-expand {
    display: none;
}

.group-dropdown {
    margin-top: 40px;
    margin-left: 10px;
    display: block;
    float: left;
}

.group-dropdown :hover #submunu {
    visibility: visible;
}

.btn_add_course {
    float: right;
    margin-top: 25px;
    width: 10%;
    font-size: 12px;
}

.my-room .friends_add .title_msg {
    margin-top: 40px;
    margin-left: 60px;
    font-size: 20px;
    font-weight: bold;
    float: left;
}

.my-room .friends_add .btn_add_course>input {
    background-color: #6ED4D8;
    height: 30px;
    border-radius: 10px;
    display: table-cell;
    vertical-align: middle;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-right: 20px;
    height: 30px;
    border: 10px;
    font-size: 12px;
}

.writing-box {
    width: 70%;
    height: 100px;
    float: left;
    margin-left: 55px;
    margin-top: 20px;
}

.writing-box table {
    width: 100%;
    height: 100%;
}

.writing-button-secret {
    float: left;
    margin-left: 5%;
}

.my-room .writing-button-secret .writing-button>input {
    background-color: #6ED4D8;
    margin-top: 30px;
    margin-left: 10px;
    width: 80px;
    height: 40px;
    border-radius: 10px;
    display: table-cell;
    vertical-align: middle;
    margin-bottom: 10px;
    border: 10px;
    font-size: 12px;
}

.secret-checkbox {
    font-size: 12px;
}

.my-room .writing-button-secret .secret-checkbox>input {
    margin-top: 30px;
    margin-left: 10px;
}

.writing-place {
    margin-top: 10px;
    width: 90%;
    height: 20%;
    margin-left: 0.8%;
    display: inline-block;
}

#myroom-line {
    margin-top: 20px;
    margin-bottom: 20px;
    color: black;
    z-index: 1;
    width: 90%;
}

.friends_list_box {
    overflow: auto;
    background-color: #d6d6d6;
    align-content: center;
    margin-top: 30px;
    margin-left: 55px;
    margin-right: 55px;
    height: 0.5%;
    width: 85.5%;
    float: none;
}

.user-small-talking {
    font-size: 12px;
}

.friends_list_box #course_table {
    padding: 10px;
    font-size: 13px;
}

.talking-palce {
    width: 100%;
}

.mini-profile {
    float: left;
}

.mini-profile>img {
    margin-left: 50px;
    margin-top: 20px;
    width: 40px;
    height: 40px;
}

.user-small-talking {
    float: left;
    margin-left: 20px;
    width: 70%;
}

.user-small-talking .user-name {
    margin-top: 10px;
    margin-left: 20px;
}

.user-small-talking .user-talking-list {
    margin-top: 10px;
    margin-left: 30px;
}

.user-small-talking .today {
    color: #c1bcba;
    margin-top: 10px;
    margin-left: 20px;
    float: left;
}

.user-small-talking .reply-button {
    margin-left: 120px;
    margin-top: 10px;
    float: left;
    background-color: #6ED4D8;
    border-radius: 10px;
    display: table-cell;
    vertical-align: middle;
    margin-bottom: 10px;
    border: 10px;
    border-radius: 10px;
}

.my-room .talking-palce {
    display: inline-block;
}

.my-room .talking-palce .talking {
    display: inline-block;
}

.talking {
    display: inline-block;
    width: 90%;
    padding: 15px;
}

.today-button.today {
    color: #c1bcba;
}