#comments {
    width: 100%;
    margin-top: 10px;
}

.eachComment {
    width: 50%;
    margin: 10px;
    padding: 0.5em;
    border-bottom: 1px solid #c1bcba;
}

#comments {
    margin-left: 4%;
}

.eachComment .name {
    margin-bottom: 0.3em;
    display: flex;
    justify-content: space-between;
}

.eachComment .inputValue {
    font-size: 1.2em;
    font-style: italic;
}

.eachComment .time {
    font-size: 0.7em;
    color: #c1bcba;
    font-style: oblique;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.eachComment .voteDiv {
    display: flex;
    justify-content: flex-end;
}

.eachComment .deleteComment {
    background-color: #6ED4D8;
    ;
    color: black;
}