#comments {
    width: 100%;
    margin-top: 10px;
}

.eachComment {
    width: 50%;
    margin: 10px;
    padding: 0.5em;
}

#comments {
    width: 100%;
}

.inputbox {
    float: left;
}

.eachComment {
    display: inline block;
    float: left;
}

.eachComment .name {
    margin-bottom: 0.3em;
    display: flex;
    justify-content: space-between;
}

.eachComment .mini_image {
    float: left;
    margin-left: 50px;
    margin-top: 20px;
    width: 40px;
    height: 40px;
}

.eachComment .inputValue {}

.eachComment .time {
    font-size: 1.0em;
    color: #c1bcba;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.eachComment .voteDiv {
    display: flex;
    justify-content: flex-end;
}

.eachComment .deleteComment {
    background-color: #6ED4D8;
    ;
    color: black;
}