body {
    background-color:#e7eff0;
}
.folder_todo{
    background-color: #c7c5c565;
    border-radius: 5px;
}
.wrap_Todolist {
    /* 할 일 목록 부분 */
    text-align: center;
    font-weight: bold;
    padding-top:15px;
    font-size:1.3em;
    margin-left:15px;
    vertical-align: middle;  
}
.Todolist > label {
    display:block;
    margin-left:15px;
}
.Todolist > label > input, p {
    display:inline-block;
}
.Todolist > p {
    margin-left:20px;

}
.new_folder_todo{
    margin-left:20px;
    margin-top:10px;
    margin-bottom: 25px;
}
.folderTodoBtn{
    background-color:#6ED4D8;
    border:none;
    border-radius: 10px;
    width:100px;
    height:35px;
    margin-top:20px;
    margin-left:50px;
    margin-right:30px;
    margin-bottom: 15px;
}
.section{
    /* 포스트잇 내부 가운데 */
    vertical-align: middle;
}
.section > p {
    font-size:1.5em;
    font-weight: bold;

}
.postIt_plus{
    background-color:white;
    border-radius: 3px;
   
}
.wrap_postit{
    display:inline;
}
.postIt_plus {
    box-shadow: 2px 2px 2px rgb(141, 140, 140);
    display:inline-block;
    margin-left:30px;
    margin-right:30px;
    margin-top: 40px;
    margin-bottom: 15px;
    box-shadow: 2px 2px 2px rgb(128, 128, 128);
    width: 23%;
    height: 15vw;
    line-height: 13vw;
    vertical-align: middle;
    text-align:center;
    padding-left:30px;
}
.section > div > div {
     /* 포스트잇 하나하나 */
    box-shadow: 2px 2px 2px rgb(141, 140, 140);
    display:inline-block;
    margin-left:30px;
    margin-right:30px;
    margin-top: 40px;
    margin-bottom: 15px;
    box-shadow: 2px 2px 2px rgb(128, 128, 128);
    width: 23%;
    height: 15vw;
    line-height: 13vw;
    vertical-align: middle;
    text-align: center;
    padding-left:40px;
}
.editFolder{
    visibility: inherit;
    display:inline;
    width:20px;
    height:auto;
    margin:5px;
    float:right;
}
.deleteFolder{
    visibility: inherit;
    display:inline;
    width:20px;
    height:auto;
    margin:5px;
    float:right;
}
