body {
    background-color:#e7eff0;
}
.folder_todo{
    background-color: #c7c5c565;
    border-radius: 5px;
}
.folder_todo > p {
    /* 할 일 목록 부분 */
    text-align: center;
    font-weight: bold;
    padding-top:15px;
    font-size:1.3em;
    margin-left:15px;
 
}
.folder_todo > label {
    margin-left:15px;
}
.Todolist > p {
    margin-left:20px;
    margin-top:10px;
}
.folderTodoBtn{
    background-color:#6ED4D8;
    border-radius: 10px;
    width:100px;
    height:35px;
    margin-left:50px;
    margin-right:30px;
    margin-bottom: 15px;
}
.section{
    /* 포스트잇 내부 가운데 */
    vertical-align: middle;
}
.section > p {
    font-size:1.5em;
}
.postIt_plus{
    background-color:white;
    border-radius: 3px;
   
}
.postIt_1, .postIt_2, .postIt_3{
    background-color:#6ED4D8;
}
.postIt_4{
    background-color:#E3B863;
}
.postIt_5{
    background-color:#E36363;
}
.section > div {
     /* 포스트잇 하나하나 */
    box-shadow: 2px 2px 2px rgb(141, 140, 140);
    display:inline-block;
    margin-left:30px;
    margin-right:30px;
    margin-top: 40px;
    margin-bottom: 15px;
    box-shadow: 2px 2px 2px rgb(128, 128, 128);
    width: 23%;
    height: 15vw;
    line-height: 13vw;
    vertical-align: middle;
}
.section > div > p {
    display: inline-block;
    text-align:center;
    padding-left:25px;

}
.section > div > img{
    visibility: inherit;
    display:inline;
    width:20px;
    height:auto;
    margin:5px;
    float:right;
}
