/* .main_header {
    height:100px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);

}
.logo_area {
    height:100%;
}

.logo_tight {
    text-decoration: none;
    display: block;
    overflow: hidden;
    position: relative;
    float:left;
    width:12%;
}

.logo_tight .img_logo {
    width:100%;
    
    background-position: 0 -158px;
    background-repeat: no-repeat;
    vertical-align: top;
    content: '';
}

.group_menu {
    display: flex;
    overflow: hidden;
    position: relative;
    margin-right:12%;
    
    padding: 50px 100px 11px 100px; 
}

ol, ul {
    list-style: none;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
ul {
    display: block;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding : 0px;
    margin-top : 30px;
    margin-bottom : 30px;
}

.list_menu {
    
    color: #000;
    letter-spacing: -.3px;
    margin : 0 auto;
}

.list_menu .menu_item {
    float:left;
    margin-left: 30px;
    margin-right: 30px;
}

.menu {
    text-decoration: none;
    font-size: 13px;
    color:#000;
}

.menu:hover {
    color:#6ED4D8;
    text-decoration: underline;
    text-decoration-color: #6ED4D8;
    font-weight: 700;
} 

.profile_section{
    margin-left:2%;
    position:absolute;
    top:5px;
}


.profile{
    display:inline;
}
.profile > img {
    height: 15px;
    margin: 0 auto;
}
.username {
    display:inline-block;
    font-size:12px;
}
.logout{
    display:inline;
}
.btn_logout {
    background-color: rgba(190, 190, 190,0.5);
    border-radius: 10px;
    border:none;
    cursor:pointer;
    font-size:12px;
    display:inline;
}
.profile_section > div {
    margin: 5px 0px 5px 10px;
}

.alarm_bell{
    display:inline;
}
#alarm_bell_img {
    height : 15px;
    padding-top : 2px;
    display:inline;
    margin : 0 auto;
}
.profile_section{
    margin-left:2%;
    position:absolute;
    top:5px;
    right:5px;
}

/* 폴더 내부 */
body {
    background-color: #e7eff0;
    min-width:1190px;
}
.wrap{
    width:60%;
    margin-left:20%;
}
.section{
    float:left;
    width:80%;
    height:550px;
    margin-right:10px;
    margin-top:15px;
    background-image:url("/media/plus_folder_gray.png");
    background-size:cover;
}
/* .section:after{
    opacity: 0.5!important;
    filter:alpha(opacity=50);
    
} */
/* .wrap > div {
    display:inline-block;
} */
.wrap_postit > div
{
    display:inline-block;
    margin:20px 35px 20px 20px;
    width: 12%;
    height: 65px;
}
.folder_todo{
    float:right;
    width:18%;
    display:inline;
}
.folder_name{
    font-size:15px;
    font-weight:bold;
    margin-top:35px;
    margin-left:10px;
}

/* 여기부터 오늘 할 일 */
.wrap_Todolist{
    text-align:center;
    width:100%;
    font-size:13px;
}

label > input {
    font-size:11px;
    display:inline-block;
}
label > p{
    font-size:11px;
    display:inline-block;
}
label{
    display:block;
    margin:10px;
}
.Todolist{
    width:100%;
    margin:0 auto;
    background-color:white;
    border-radius: 10px;
}
.btnplusTodo{
    border-radius: 10px; 
    background-color:#6ED4D8;
    display:table-cell;
    vertical-align: middle;
    margin-bottom:10px;
    /* width:140px; */
    width:95%;
    height:40px;
    border:10px;
    cursor: pointer;
}
.caution{
    width:100%;
    /* padding:5px; */
    
    height:auto;
    margin-top:10px;
    font-size: 9px;
}
.login {
    margin-left:80%;
    display:inline-block;
    width:20%;
}
.login > div {
    display:inline-block;
}
.profile_section > div {
    margin: 5px 0px 5px 10px;
}

.alarm_bell{
    display:inline;
}
#alarm_bell_img {
    height : 15px;
    padding-top : 2px;
    display:inline;
    margin : 0 auto;
}
.profile_section{
    margin-left:2%;
    position:absolute;
    top:5px;

}


.profile{
    display:inline;
}
.profile > img {
    height: 15px;
    margin: 0 auto;
}
.username {
    display:inline-block;
    font-size:12px;
}
.logout{
    display:inline;
}
.btn_logout {
    background-color: rgba(190, 190, 190,0.5);
    border-radius: 10px;
    border:none;
    cursor:pointer;
    font-size:12px;
    display:inline;
}
/* 오늘 할 일 부분 나중에 mainframe의 것과 이름 동일하게 설정하기 */

/* 포스트잇 내부 설정 */
.postIt > img {
    width:100%;
    height:auto;

}
.postIt > p {
    font-size:12px;
}
.post {
    position:absolute;
    z-index:1;
    top:50%;
    width:100%;
    margin:0 auto;
    text-align: center;
}
.postIt{
    position:relative;
}
/* hover하면 3버튼 나오게,별표시 넣기*/