.uploadBtn{

    padding:10px;
    background-color:#6ED4D8;
    border-radius:10px;
 
    border:none;
    font-size:12px;
    font-weight:bold;
    
}
.cancelBtn{
    padding:10px;
    border-radius:10px;
    border-color: #6ED4D8;
    border-style:solid;
    background-color: white;
    border-width:1px;
    font-size:12px;
    font-weight:bold;
    margin-right:10px;
}
.input_wrap > p {
    font-size:11px;
    margin:10px 5px;
    display:inline-block;
}
.input_wrap > input{
    width:80%;
    margin-right:10px;
}
.buttons_wrap{
    position:fixed;
    bottom:10px;
    right:10px;

}
.wrap_choice{
    display:flex;
}
.choice{
    flex:1;
    margin-left:35px;
}
.choice > img {
    height:50px;
    width:auto;
    margin:0 auto;
}
.choice > p{
    text-align: center;
}
textarea{
    
    width:80%;
}