
/* 폴더 내부 */
body {
    background-color: #e7eff0;
    min-width:1190px;
}
.wrap_folder{
    width:60%;
    margin-left:20%;
}
.section{
    float:left;
    width:80%;
    height:35vw;
    margin-right:10px;
    margin-top:15px;

}
 /* .section::before{
    content:"";
    opacity:0.5;

    position:absolute;
    margin-left:20%;
    margin-top:8%;
    width:48%;
    margin-right:10px;
    height:35vw;
    top:0px;
    left:0px;
    right:0px;
    bottom:0px;
    background-image:url("/media/plus_folder_gray.png");
    background-size:cover;

}  */
.section:after{
    content:"";
    background-image:url(/media/plus_folder_gray.png);
    opacity:1;
    position:absolute;
    top:0;
    left:0;
    width:48%;
    background-size:cover;
    
    
} 
/* .wrap > div {
    display:inline-block;
} */
.wrap_postit > div
{
    display:inline-block;
    margin:20px 35px 20px 20px;
    width: 12%;
    height: 65px;
}
.folder_todo{
    float:right;
    width:18%;
    display:inline;
}
.folder_name{
    font-size:15px;
    font-weight:bold;
    margin-top:35px;
    margin-left:10px;
}

/* 여기부터 오늘 할 일 */
.wrap_Todolist{
    text-align:center;
    width:100%;
    font-size:13px;
}

label > input {
    font-size:11px;
    display:inline-block;
}
label > p{
    font-size:11px;
    display:inline-block;
}
label{
    display:block;
    margin:10px;
}
.Todolist{
    width:100%;
    margin:0 auto;
    background-color:white;
    border-radius: 10px;
}
.btnplusTodo{
    border-radius: 10px; 
    background-color:#6ED4D8;
    display:table-cell;
    vertical-align: middle;
    margin-bottom:10px;
    /* width:140px; */
    width:95%;
    height:40px;
    border:10px;
    cursor: pointer;
}
.caution{
    width:100%;
    /* padding:5px; */
    
    height:auto;
    margin-top:10px;
    font-size: 9px;
}

/* 오늘 할 일 부분 나중에 mainframe의 것과 이름 동일하게 설정하기 */

/* 포스트잇 내부 설정 */
.post_img {
    width:100%;
    height:auto;

}
.postIt > p {
    font-size:12px;
}

.post {
    position:absolute;
    z-index:1;
    top:50%;
    width:100%;
    margin:0 auto;
    text-align: center;
}
.postIt{
    position:relative;
}
/* hover하면 3버튼 나오게,별표시 넣기*/
.fixed_star{
    position:relative;
    z-index:1;
    width:15px;
    margin-top:-87px;
    margin-left:3px;
    float:left;
    opacity:0;
}
.fixed_star:hover{
    opacity:1;
}
.three_button{
    position:relative;
    z-index:1;
    margin-top:-87px;
    width:15px;
    float:right;
    opacity:0;
}
.three_button:hover{
    opacity:1;
}