.list_wrap > p{
    display:inline-block;
    width:30%;
    height:20px;
    text-align: center;
}
.vertical_line{
    height:30px;
    display:inline;
    width:2px;
    background-color:black;
    /* 적용이 안된다 */
}
.input_wrap > p {
    display:inline-block;
    margin:10px;
}
.input_wrap > input {
    width:80%
}
.input_content{
    height:30px;
}
.uploadBtn {
    margin:5px;  
    background-color:#6ED4D8;
}