/* modal 팝업을 감싸주는 부분 (모달 팝업 영역을 잡아주는 틀) */
.modal-modify { 
    position: fixed; 
    left: 0; 
    top: 0; 
    width: 100%; 
    height: 100%; 
    background-color: rgba(0, 0, 0, 0.5); 
    z-index : 100;
    opacity: 0; 
    visibility: hidden; 
    transform: scale(1.1); 
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s; 
} 
/* 모달 팝업 내의 실제 콘텐츠를 담는 부분(팝업 크기 등) */
.modal-content-modify { 
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    background-color: white; 
    padding: 1rem 30px; 
    width: 400px; 
    height: 560px; 
    border-radius: 0.5rem; 
    margin : 0 auto;
} 

/* 버튼 클릭시 이벤트 */
.show_modify_modal { 
    opacity: 1; 
    visibility: visible; 
    transform: scale(1.0); 
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s; 
} 


/* 닫기 버튼 */
.close_button_modify { 
    float: right; 
    width: 1.5rem; 
    line-height: 1.5rem; 
    text-align: center; 
    cursor: pointer; 
    border-radius: 0.5rem; 
    background-color: #bebebe; 
} 
.close_button_modify:hover { 
    background-color: #8e8e8e; 
}
