.timetable_wrap {
    background-color:rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    padding : 20px 0px;
}

.page-header , .timetable_section {
    /* background-color:rgba(255, 255, 255, 0.5); */
    border-radius: 5px;
}

.background_box {
    align-content: center;
}
.timetable_section {
    width:100%;
}
.page-header .timetable_title {
    text-align: center;
    font-weight: bold;
    width : 100%;
    font-size: 20px;
    line-height: 20px;
    padding-top : 20px;
}
.page-header .edit_btn {
    width : 15%;
    float:right;
    margin-right:50px;
}
.page-header .edit_btn > input {
    width: 100%;
    height: 40px;
    background-color: #6ED4D8;
    border:none;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom : 10px;
}
.page-header .edit_btn > input:hover {
    background-color: rgb(77, 189, 194);
    font-weight: bolder;
}

.table_head_wrap {
    align-items: center;
    padding : 0px 50px;
}
.table_head {
    background-color: #e8e8e8;
    border : none;
    width:800px;
}
.table_head td {
    width:15%;
    height:40px;
    font-weight: bolder;
    text-align: center;
}
.table_head th {
    width:5%;
}
.table_body_wrap {
    align-items: center;
    padding : 0px 50px;
}
.table_body {
    width:800px;
    padding:0px;
}
.table_body .hours .hour {
    height:60px;
    text-align: center;
    background-color: #e8e8e8;
    border-color: #d6d6d6;
    border : none;
    border-bottom: 1px solid #d6d6d6;
    /* border-width: 1px;
    border-style: solid; */
}
.table_body .hours .hour2 {
    height:60px;
    text-align: center;
    background-color: whitesmoke;
    border-color: #d6d6d6;
    border : none;
    border-bottom: 1px solid #d6d6d6;
    /* border-width: 1px;
    border-style: solid; */
}
.table_body th {
    width:5%;
    padding:0px;
    vertical-align: top;
}
.table_body td {
    width:15%;
    padding : 0px;
    vertical-align: top;
}

.table_body td div {
    height:15px;
    padding:0px;
    /*border-bottom: 0.2px solid lightgray;*/
}

/* 메인의 좌측 영역 : 폴더, d-day를 감싸는 영역 */

.timetable_column_left {
    /* 네이버 : 750 */
    /* float:left; */
    width: 900px;
    display: inline-block;
}


/* 메인의 우측 영역: 오늘 할 일 영역 */

.timetable_column_right {
    /* 네이버 : 350 */
    float: right;
    width: 210px;
}

/* 우측 영역: 일주일 진도표 */

.aside_wrap {
    display: inline-block;
    margin-left: 20px;
}

.aside .todaylist {
    background-color: white;
    width: 210px;
    padding: 10px 20px;
    border-radius: 10px;
    text-align: center;
    font-size: large;
    align-items: center;
}

.aside_wrap>p {
    margin: 10px 0px;
    font-size: 13px;
    font-weight: bolder;
}

.p_p {
    font-size:  13px;
}

.caution {
    width: 200px;
    margin: 5px 5px;
    padding: 0px;
    font-size: 11px;
    line-height: 140%;
}

.aside .todaylists>.wrap_label {
    height:fit-content;
    margin: 0px;
    text-align: left;
}



/****** 모달 팝업에 보일 콘텐츠들 ******/
/* 타이틀 */
.title{ 
    font-size:13px;
    margin-bottom:20px;
    letter-spacing: 2px; 
} 
/* 본문 내용 */
.content {
    font-size : 11px;
    letter-spacing : 2px;
}

/* 닫기 버튼 */
.close_button { 
    float: right; 
    width: 1.5rem; 
    line-height: 1.5rem; 
    text-align: center; 
    cursor: pointer; 
    border-radius: 0.5rem; 
    background-color: #dedede; 
} 
.close_button:hover { 
    background-color: #8e8e8e; 
}



/* 확인 버튼 */
.btn_confirm {
    color: #000;
    border: solid 1px rgba(0,0,0,.08);
    background-color: #6ED4D8;
    cursor: pointer;
} 
/* 확인 버튼 hover 색깔 (아직 확정X) */
.btn_confirm:hover {
    color: #fff;
    background-color: #4b9194;
    opacity: 0.9;
}


/* 취소 버튼 */
.btn_cancel {
    color: #fff;
    background-color: #bebebe;
    cursor: pointer;
} 
/* 취소 버튼 hover 색깔 (아직 확정X) */
.btn_cancel:hover {
    font-weight: bolder;
    background-color: #8e8e8e;
    opacity: 0.9;
}




.new_todo {
    padding: 10px;
    font-size: small;
}

.todaylists>label>input,
p {
    display: inline-block;
    font-size: 11px;
}


/* .todaylists > label {
    display:block;
} */

.btnplusTodo {
    border-radius: 10px;
    background-color: #6ED4D8;
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    margin-bottom: 5px;
    height: 30px;
    border: 10px;
    cursor: pointer;
}

.btnplusTodo:hover {
    background-color: rgb(77, 189, 194);
    font-weight: bolder;
}
.delete_todo {
    float: right;
    width: 15px;
    /* line-height: 2rem;  */
    text-align: center;
    cursor: pointer;
    position: relative;
    top: 10px;
    border-radius: 0.5rem;
    opacity: 0;
}

.delete_todo:hover {
    float: right;
    width: 15px;
    position: relative;
    top: 10px;
    text-align: center;
    cursor: pointer;
    border-radius: 0.5rem;
    opacity: 1;
    background-color: lightblue;
}
